[2015-06-03 16:17] daniel-nagy opened #1 "Pagination"
Tables within cards should support pagination.

[2015-06-03 16:20] daniel-nagy opened #2 "Alternate Headers"
Support for alternate headers. Possible impliment default alternate headers, for example display the number of items selected.

[2015-06-03 16:25] daniel-nagy opened #3 "Row Selection Background Color"
When a row is selected its background color should be darkened to Grey 100 (#F5F5F5).

the following css class is available,

[code]

The issue is adding and removing the class appropriately when the row is selected.

[2015-06-03 16:27] daniel-nagy opened #4 "Sorted Column Names"
When a column is sorted, its text should darken to `@md-dark` and an icon should appear displaying the direction.

[2015-06-03 16:28] daniel-nagy opened #5 "Column Header Tooltips"
Column headers should provide the option to display definitions via tooltips on hover.

[2015-06-03 16:30] daniel-nagy opened #6 "Long Header Titles"
Header titles should be configurable to show ellipsis on overflow instead of forcing the table to scroll.

[2015-06-03 16:31] daniel-nagy opened #7 "Editing Dialogs"
Table cells can display editing dialogs to do inline changes of data.

[2015-06-03 16:32] daniel-nagy opened #8 "Inline Menus"
Table cells provide inline menus for selecting from a list of things.

[2015-06-04 00:52] daniel-nagy commented on #6
Working in Chrome, Firefox and Opera. Strange bug in Safari that results in header cells becoming completely invisible instead of showing ellipsis.

[2015-06-04 01:10] daniel-nagy opened #9 "BUG - Row Select"
The global checkbox should deselect itself if all the rows are selected and then any row is deselected, resulting in all the rows no longer being selected.

[2015-06-05 16:22] daniel-nagy commented on #6
This issue has been resolved in version 0.0.2

[2015-06-05 16:22] #6 closed

[2015-06-08 12:58] daniel-nagy commented on #9
Resolved in version 0.1.0

[2015-06-08 12:58] #9 closed

[2015-06-10 14:43] bastienJS opened #10 "Inline Editing cells with validation"
I request for inline editing cells with validation done the material design way integrated into your demo:

http://codepen.io/anon/pen/zGzrgy

Thanks :-)

[2015-06-10 17:35] daniel-nagy commented on #10
Duplicate of #7

I'm not sure what you mean by "the material design way" The link you provided doesn't support inline editing of cells (unless I'm missing something). Take a look at [table interaction](http://www.google.com/design/spec/components/data-tables.html#data-tables-interaction) as defined by the specification. Scroll down until you see editing dialogs. That would be the feature I would i

[2015-06-10 17:36] #10 closed

[2015-06-10 17:36] daniel-nagy commented on #1
This issue is resolved in version 0.2.0

[2015-06-10 17:36] #1 closed

[2015-06-10 17:38] daniel-nagy opened #11 "Table Progress"
Display progress indicator when the table is loading data

[2015-06-10 17:40] daniel-nagy opened #12 "Table Transition"
Add animation when new data is rendered

[2015-06-11 12:56] bastienJS commented on #10
Hey Daniel,

of course the link does not provide inline editing. This is what I asked for :D  Sure I can do contenteditable="true" on the td-tag but I have no idea how to make it feel and look according material design and I am sure you might know it :-)

[2015-06-12 17:00] chinnichaitanya opened #13 "Row selection in table"
I couldn't find the official Google specification for selecting a row but I think it will be good if we can select the row by clicking anywhere in the row with the ripple effect.

As of now we have to click on the check box to select the row.

What say ?

[2015-06-12 17:38] daniel-nagy commented on #13
Yes, I've been meaning to implement this. I think selecting a row by clicking anywhere within the row should be a feature that is opted into via an additional attribute. The reason for this is, in the future, if you have a cell with inline editing it may be undesirable for the row to be selected if you click on the cell to edit it.

The ripple effect would be neat. The only thing the specification

[2015-06-13 08:08] ahmadhsalim commented on #13
btw, is it possible to disable row selection for the datatable?

[2015-06-13 08:54] chinnichaitanya commented on #13
@daniel-nagy I think the dark background color must persist for every selected row. I don't think it looks that bad when all the rows are selected and display darker background.
And regarding selecting the row by clicking anywhere, what you say is true. Making it an attribute sounds cool. We should not select the row while we edit stuff in the table.

[2015-06-13 14:29] daniel-nagy commented on #13
@ahmadhsalim do you mean disable completely? Just omit the `md-row-select` attribute.

Currently there is no support for condition row selection. I have been contemplating whether or not I should make this a feature. My first impression is that it should be an all or nothing deal and if you find yourself needing to conditionally disable rows you should rethink if you should use row selection at al

[2015-06-13 14:33] daniel-nagy commented on #13
@chinnichaitanya I'm going to go with you on this, I'll allow the darker background to persist. Currently I'm working on refactoring the style sheets, to try to clean things up a bit, and adding sort icons to the column names. I think this issue is next on my priority list. Hopefully I will have it complete sometime tonight or tomorrow.

[2015-06-13 15:34] ahmadhsalim commented on #13
@daniel-nagy oh, thanks, that's what i wanted. But there's one more issue, is it possible to disable/enable md-row-select from javascript through perhaps a boolean check?

[2015-06-13 15:38] ahmadhsalim commented on #13
In fact, I would prefer to be able to set anything programmatically. Like, numeric, unit, precision etc.

[2015-06-13 15:40] ahmadhsalim opened #14 "Pagination events"
I think the mdDataTablePagination directive should have an ng-change event, which fires whenever a page is changed. Meaning whenever any of the pagination buttons are clicked.

[2015-06-13 15:44] daniel-nagy commented on #13
I think you can use `ng-attr` to conditionally apply attributes. Something like,
[code]

this [stack overflow](http://stackoverflow.com/questions/22049824/conditionally-adding-data-attribute-in-angular-directive-template) may help.

[2015-06-13 15:54] daniel-nagy commented on #14
How about,

[code]

[code]

I had this implemented at one point then discarded it during a refactor but I could reimplement it again. I agree this would be nice so you wouldn't have to register `$watch` listeners. Would you care to have the same functionality for the `md-filter` (will be `md-order` in the next release for better naming convention) attribute?

[2015-06-13 19:38] ahmadhsalim commented on #14
I think components like md-data-table should have lot of event handlers for everything it does, even `md-filter` (`md-order`). The example shown above is good. Perhaps the parameters should be, `page` and `limit`.

[2015-06-14 00:46] daniel-nagy commented on #4
resolved in version 0.3.0

[2015-06-14 00:46] #4 closed

[2015-06-14 00:48] daniel-nagy commented on #14
Okay, this is in spot two of the queue behind row selection backgrounds :+1:

[2015-06-14 16:28] daniel-nagy commented on #13
Resolved in version 0.4.0

@chinnichaitanya no ripple effect atm. Possibly in a future release, I'll have to take a look at injecting Angular Materials `$mdInkRipple` service.

[2015-06-14 16:29] daniel-nagy commented on #3
This issue has been resolved

[2015-06-14 16:29] #3 closed

[2015-06-15 05:15] ahmadhsalim commented on #13
When I remove md-row-select from table, the alignment of the first columns heading goes wrong.

[2015-06-15 07:15] chinnichaitanya commented on #13
@daniel-nagy Looks good. But there is a small issue. If i select a few rows and go to the next page, and again comeback, all the selections are gone. I guess this shouldn't be the case.

[2015-06-15 09:11] ahmadhsalim commented on #13
@chinnichaitanya I think the selection is always for the current page. It should be cleared when a new page is loaded. At least that's what I want on my project.

[2015-06-15 09:38] chinnichaitanya commented on #13
@ahmadhsalim Why ? The selection must always be for the whole table right ? Not for individual pages of a table.

[2015-06-15 10:04] ahmadhsalim commented on #13
@chinnichaitanya In my case, the data is populated using ajax requests. A request must be made for each page. Once the page is changed the data of the previous page is lost, therefore the selection too cannot remain.

[2015-06-15 11:16] ahmadhsalim commented on #13
@daniel-nagy btw, my md-row-select is not working. the array "selected" doesn't get set at all.

[2015-06-15 11:50] daniel-nagy commented on #13
@ahmadhsalim Clearing the selected rows on page change is the intended behavior of the table. Actually the selected rows are cleared whenever the set you are repeating changes. This is useful when data is being received in chucks from the server.

If you are doing client side filtering and want the selected rows to persist, [ngRepeat](https://docs.angularjs.org/api/ng/directive/ngRepeat) has a fil

[2015-06-15 11:56] ahmadhsalim commented on #13
I agree, you have answered for @chinnichaitanya's issue.

However I'm having another issue. Regarding `md-row-select="selected"`. The variable "selected" is always empty, even if I have selected some rows. Therefore my alternate headings are not displayed at all.

[2015-06-15 11:58] daniel-nagy commented on #13
@ahmadhsalim Try opening the developer tools in the browser and use the select tool to select somewhere in the table and in the console type `angular.element($0).scope().selected` and see if the array contains any elements.

[2015-06-15 12:01] ahmadhsalim commented on #13
it says undefined

[2015-06-15 12:04] daniel-nagy commented on #13
@ahmadhsalim When you select a row, does the background color darken and remain darken?

[2015-06-15 12:05] ahmadhsalim commented on #13
Yes, the checkboxes work too. I can check and uncheck just fine. the only thing that doesn't get set is the `selected`.

[2015-06-15 12:12] daniel-nagy commented on #13
Okay, the array is indeed being populated then because I use it to apply the CSS classed to the rows. I may need to see some code to help you further. I'm guessing you either have a syntax/spelling error somewhere or some weird scoping issue is occurring.

[2015-06-16 06:47] vlio20 opened #15 "Column resize"
A gr8 feature would be "resizable columns". @daniel-nagy, are there any plans to implement this? If not, I would like to help add this feature.

[2015-06-16 12:24] daniel-nagy commented on #15
@vlio20 The features defined by the [specification](http://www.google.com/design/spec/components/data-tables.html#) take priority at the moment but I think this a good idea. If you would like to implement this feature I encourage you to do so, I'm sure other people would appreciate this as well. :+1:

[2015-06-16 14:13] vlio20 commented on #15
Are we ok with using jQuery?

[2015-06-16 15:44] daniel-nagy commented on #15
Please do not use jQuery. We don't want to force developers to include an additional library. You should be able to do anything you can do with jQuery using pure javascript and [angular element](https://docs.angularjs.org/api/ng/function/angular.element).

[2015-06-16 15:47] daniel-nagy commented on #15
Great demo btw. I would suggest enforcing a reasonable minimum width for table columns.

[2015-06-17 05:12] jameswyse commented on #13
@daniel-nagy I'm having the same issue, the checkboxes and row selection all works fine, but the binding in `md-row-select` isn't being updated.

It works fine when using the old `$scope` style, but fails with `controllerAs` syntax. I put together a quick plunker to show the issue: http://plnkr.co/edit/R1e0pzDEhq03kVv87so9

Thanks for the awesome module :)

[2015-06-17 12:32] daniel-nagy commented on #13
@jameswyse Thank you for the plunker, it clearly demonstrates the issue. When I run the app locally and use the `controllerAs` syntax it works fine so I'm a little puzzled at the moment. I'll need to look into this more this afternoon when I get off work.

[2015-06-17 18:31] daniel-nagy commented on #13
@jameswyse Please see this updated [plunker](http://plnkr.co/edit/x2b28QV1BwoP4oKbf5Hu?p=preview).

[2015-06-17 18:35] jameswyse commented on #13
Hey @daniel-nagy, just had a quick look and in `mdDataTableController.js:18` we have:

[code]

The directive has an isolate scope so `$scope.$parent` *should* reference the correct (parent) scope.. however it's assigning to the grandparent.. is there some case where this is needed?

Changing it to the following fixes the problem, at least in my app:

[code]

[2015-06-17 18:36] jameswyse commented on #13
oh, you fixed it already! thanks :+1:

[2015-06-17 18:51] daniel-nagy commented on #13
@jameswyse The directive needs to be agnostic of the scope the variable is declared in. We both wrongly assumed we could predict which scope it would be in. For my app it was the grandparent but for your app it was the parent. The only solution I can think of is to force the developer to define the array in their controller to ensure two-way data binding works properly.

[2015-06-17 21:06] jameswyse commented on #13
Good point, I think that's a fair compromise :)

[2015-06-17 21:14] #13 closed

[2015-06-18 08:42] ahmadhsalim commented on #13
hey sorry i couldn't respond before. but t works now with the new update. thanks

[2015-06-18 11:16] daniel-nagy commented on #13
@ahmadhsalim :+1:

[2015-06-18 13:29] scooper91 commented on #13
This change has unfortunately seemingly broken tables that do not have row selection enabled.  By moving the initialisation of selectedItems [here](https://github.com/daniel-nagy/md-data-table/commit/4b95c689e97e93d357ff4b8baef02743776e2287#diff-36d19f40641c3903aa836fdfb5b44718L6), paginating a table tries to splice [selectedItems that has not yet been initialised](https://github.com/daniel-nagy/m

[2015-06-18 13:49] daniel-nagy commented on #13
@scooper91 thank you for catching this, fixed in version 0.4.2

[2015-06-18 13:50] scooper91 commented on #13
Thanks!

[2015-06-20 16:53] daniel-nagy opened #16 "Column Ordering"
Column ordering should be enabled or disabled on a per column basis instead of all or nothing. This shouldn't be too difficult to do. Instead of enabling column ordering for each column when the `md-order` attribute is specified, we could instead force explicit `order-by` attributes on the header cells to enable ordering.

[2015-06-22 15:31] nathanmarks opened #18 "Column ordering not working for dynamically generated columns"
When I have the`th` attribute set to `order-by="{{column.key}}"`, it causes the sorting function to attempt to sort by that string rather than the actual value bound to it. This is problematic for a table with dynamically generated columns, for eg:

[code]

[2015-06-22 15:40] Fardinak opened #19 "RTL Styling"
It already works with the RTL layout, but needs some tweaks. While trying to use it in a right-to-left environment, the following came to my attention that need improvements:
* Toolbar button margins
* Number/Text Alignment
* Pagination

This is a great implementation of the docs; good job :+1:

[2015-06-22 16:11] daniel-nagy commented on #18
The problem is I'm assigning the `ng-click` attribute before it is compiled [here](https://github.com/daniel-nagy/md-data-table/blob/951a6f284a5ef18be8f05c357eb9f5188aa28ac8/app/md-data-table/scripts/mdDataTableHeadDirective.js#L117). We'll most likely need to move this to the `postLink` function and compile it manually. I can take care of this after work today if you don't fix it first :smiley:.

[2015-06-22 16:21] daniel-nagy commented on #19
Can you be more specific by what you mean when you say right-to-left environment? Do you mean when you have a right aligned cell adjacent to a left aligned cell? Can you make a quick JSFiddle or Plunker that makes this issue visibly clear? I would be more than happy to improve the layout once I know specifically what you're asking.

Thank you :smiley:. I try to be explicit, nobody likes code with

[2015-06-22 17:46] ahmadhsalim commented on #2
I think something like a container is needed for the right aligned icon buttons as shown in the design specs under the [Header & footer padding](http://www.google.com/design/spec/components/data-tables.html#data-tables-specs) section. This is to give proper padding as according to the design specs. Because they have different paddings than the normal `md-icon-button` given in the Angular Material

[2015-06-23 00:08] Fardinak commented on #19
I couldn't get a JSFiddle to work (too tired!); but you could simply give your `<html>` tag, a `dir="rtl"` attribute (just the way angular material handles RTL content).
But still, if you feel the need for a running sample, I could try to provide that (perhaps with the patch) in about 12hrs.

[2015-06-23 02:09] daniel-nagy commented on #19
Ah that makes more sense. I probably won't get to this right away. I want to take care of issue #18 first and I think I'm going to be making a lot of changes to the way the directives communicate with each other. I'm getting pretty frustrated with isolated scopes.

[2015-06-23 11:57] Fardinak commented on #19
Ah, it's completely okay. We'll be in the development phase for till the end of the week anyway; and I'm already writing simple temporary fixes atop.

[2015-06-23 12:16] jameswyse commented on #16
:+1:

[2015-06-23 13:21] Fardinak opened #20 "Table Pagination Label"
The `md-data-table-pagination` label ("Rows per page:") has been hard-coded which is not the ngMaterial way, and specially a problem when creating apps in non-english languages.

[2015-06-23 19:12] daniel-nagy commented on #20
This is a valid point. I'll try to fit this in to the next release.

[2015-06-23 19:20] daniel-nagy opened #21 "Pagination Page Calculation"
Pagination needs to calculate the most suitable page based on the current min value when selecting a different number of rows per page.

[2015-06-24 01:28] daniel-nagy commented on #16
@jameswyse please confirm that commit 141aa5d18ae5d7a55082b23f173af01e0c8dc04f has solved this issue.

[2015-06-24 01:31] daniel-nagy commented on #18
@nathanmarks please confirm that commit 141aa5d18ae5d7a55082b23f173af01e0c8dc04f has solved this issue.

[2015-06-24 04:21] jameswyse commented on #16
Sure does! Thanks a lot man! :beers:

[2015-06-24 11:27] #16 closed

[2015-06-24 12:22] daniel-nagy commented on #20
resolved in version 0.4.6 :)

[2015-06-24 14:58] nathanmarks commented on #18
@daniel-nagy Looks good! Thanks.

Another thing I noticed that I think would be useful (and allow for more flexibility for more features) is to have the column type set by an attribute value rather than just having the attribute "numeric" in the tag.

I'm having difficulties using this without ng-if which I really don't want to do.

[2015-06-24 15:25] daniel-nagy commented on #18
Okay that makes sense. I'm going to close this issue and open a new one.

[2015-06-24 15:25] #18 closed

[2015-06-24 15:27] daniel-nagy opened #22 "Conditional attributes"
Provide a way to conditionally apply (maybe all) attributes. I've tried `ng-attr-{{attribute}}` myself and it does not work.

[2015-06-24 15:44] nathanmarks commented on #22
@daniel-nagy Honestly, with some potential additional column types (such as menus, editable fields, etc). I think having something like column-type as an attribute would be a decent idea.

`column-type="numeric"`

etc...

[2015-06-24 16:09] daniel-nagy commented on #22
@nathanmarks valid point.

[2015-06-24 19:33] Fardinak commented on #20
That looks good; although, I believe that it should extend to the *of* as well! i.e. "x - y **of** n"

[2015-06-25 09:38] anderskristian opened #23 "The onboard demo with grunt is not working - infinite-earth-4803"
Hi Daniel
The demo is using the resource $resource('http://localhost:3000/nutriton/desserts')
I do not run anytning on port 3000
I find that this link is stopping my attempt to verify the software.
I saw the online version and have downloaded https://infinite-earth-4803.herokuapp.com/nutriton/desserts/:id
There was 50 items.
I put them into the nutritionResource, changed the controller from "get()

[2015-06-25 10:16] anderskristian opened #24 "sample with local collection please"
Hi Daniel
I do not understand how I should implement $watchCollection()
I do not have a service I can call to get things sorted etc.
I have an array with data.
I declare where the data is
I declare what key is mapped to what column
From there offf. I expect the md-data-table to take care of the rest

I see the controller uses 'ngResource' .. in my eyes this dramastically reduces the use-cases wher

[2015-06-25 11:24] daniel-nagy commented on #23
Sorry, I really should have put more effort into documenting how to run the app locally with the nutrition-app. The nutrition app is a NodeJS server and runs on port 3000, you can start the app by typing `npm start` in the console. The app expects you to have MongoDB installed locally. There is a script included called `desserts.js` that you can run to import test data into your local running data

[2015-06-25 11:49] anderskristian commented on #23
Thanks a lot
Yes I would like the simple edition :-)

[2015-06-25 12:15] daniel-nagy commented on #23
Please see commit f435b0df5a7177093e17a3d75558a344c3726b5b and the update [here](https://github.com/daniel-nagy/md-data-table#contributing). :smiley:

[2015-06-25 12:15] #23 closed

[2015-06-25 12:16] #24 closed

[2015-06-25 13:06] #21 closed

[2015-06-25 13:09] daniel-nagy opened #25 "Client-Side Sorting and Pagination"
When using client side sorting and pagination, numeric columns are not correctly right aligned when the number of rows changes or when items are reordered.

[2015-06-25 14:00] anderskristian commented on #24
Hi Daniel
Thanks a lot.
Now it is 2^10 times easier to understand

[2015-06-25 15:38] daniel-nagy commented on #24
:+1:

[2015-06-25 21:39] #25 closed

[2015-06-25 22:10] anderskristian commented on #22
I was sitting and trying to remove the selector column.
I found out that removing md-row-selected.... did the job
But under the process I realized that I cannot style the selector column
Because there is no way to identify the selectors TH / TR tags. Because they are generated.
I tried with styling ...

    .no-selector td :first-child {
        display: none;
    }
and this will remove the "secon

[2015-06-25 22:20] daniel-nagy commented on #22
@anderskristian

Please read the documentation, it explains the purpose of each attribute.

[code]

[2015-06-25 22:31] anderskristian commented on #22
I think you mean...
/* to select all the checkboxes in the table body */
table[md-row-select] > tbody > tr > td:first-child { ... }

But that does not work 100% when I did it. The ng-repeat seems to interfere with what element is the first element
So the checkbox element + first "user-row" seems both to be selected..

[2015-06-25 22:38] daniel-nagy commented on #22
I fixed my comment.

I am unable to reproduce the issue, please make a JSFiddle or Plunker clearly demonstrating the issue.

[2015-06-26 07:38] anderskristian commented on #22
Super.
I will leave it here. If I see the problem in another situation I will be back.
I still think it would be relevant to be able to set a md-row-select-class - because the element is added "behind the scene" - and I find :first-child a little nerdy,

[2015-06-26 14:18] twrk opened #26 "License?"
Would like to use this as a temporary workaround until the official version is implemented. Can you add a license? Thanks!

[2015-06-26 15:49] daniel-nagy commented on #26
@twrk I've added an MIT license

[2015-06-26 15:49] #26 closed

[2015-06-26 15:59] twrk commented on #26
Thanks again :) Great work!

[2015-06-26 16:03] daniel-nagy commented on #26
No problem, thanks :smiley:

[2015-06-26 16:22] twrk opened #27 "Client-side sorting directive"
Having trouble following the client-side sorting example (using `md-order`) outlined in the README.

Here's a [plunker](http://plnkr.co/edit/LTWBSO2BGx48xuSs1X9z?p=preview) demonstrating that clicking a `<th>` apparently has no effect on the sort order (although watching the `ctrl.order` variable in the `md-data-table` directive proves that it is being updated on click).

Am I missing a step? If s

[2015-06-26 16:33] twrk commented on #27
Might have uncovered another issue with this [plunker](http://plnkr.co/edit/LTWBSO2BGx48xuSs1X9z?p=preview): the `<tbody>` has the `md-auto-select` directive. As intended, clicking anywhere in the row adds the element to the `selected` array; however, the corresponding `md-checkbox` appears to not have the `md-checked` class applied.

[2015-06-26 16:42] daniel-nagy commented on #27
@twrk I've [updated](http://plnkr.co/edit/sLw7cwhooidqObv1qdIK?p=preview) the version of Angular in your provided plunker to version 1.4.x and everything seems to be working as expected. I'm not sure what incompatibility is being experienced with Angular 1.3.15. Do you need to use Angular 1.3.15 in your app or are you able to update?

[2015-06-26 16:42] #27 closed

[2015-06-26 16:44] twrk commented on #27
Ahh yeah, that'll do it, thanks! And 1.4 works just swimmingly for me :)

[2015-06-26 16:45] daniel-nagy commented on #27
:+1:

[2015-06-26 19:49] barmaley443 opened #28 "Float values in numeric cell are parsed as Int"
precision property adds zeros to rounded value

[2015-06-26 20:01] barmaley443 commented on #28
https://github.com/daniel-nagy/md-data-table/pull/29

[2015-06-26 20:14] #28 closed

[2015-06-26 20:24] barmaley443 commented on #28
sorry. i've forgot to make grunt build before commit :(
https://github.com/daniel-nagy/md-data-table/pull/30

[2015-06-26 20:30] barmaley443 opened #31 "Missed styles for tfoot"
it will be nice to style tfoot element used for summary info

[2015-06-26 20:37] barmaley443 commented on #31
https://github.com/daniel-nagy/md-data-table/pull/32

[2015-06-26 20:39] barmaley443 commented on #31
example
[code]

[2015-06-26 22:12] twrk opened #33 "Toggle sort direction default via directive in <th>"
Feature request - would be nice to specify the default sort direction for a column via a directive in the `<th>`, as an example (note the **`order-direction`** attr):

    <md-data-table-container>
          <table md-data-table md-row-select="tableConfig.selected">
              <thead md-trim-column-names md-order="tableConfig.order">
                  <tr>
                      <th order-by="na

[2015-06-26 22:24] daniel-nagy commented on #33
I can see why this would be desirable. Are you thinking the attribute should restrict the direction to only sort descending or ascending, or just the default direction? `order-direction` makes it seem like it can only sort in that direction.

[2015-06-26 22:31] twrk commented on #33
Thanks for the prompt response. Yeah, in my experience the user usually wants to see text columns alphabetically (so default ascending works well) and numeric columns from highest to lowest (or biggest to smallest). And to clarify, it would be the default sort direction, but the user could still toggle between either state. So `order-direction` is not a great name - perhaps `order-default-directio

[2015-06-26 22:43] daniel-nagy commented on #33
Okay, `order-default-direction` is a little verbose. We can probably think of something sorter that makes sense. I've been thinking of shortening some of the other attributes as well. For example, `md-data-table-*` would become `md-table-*`; `md-data-table-pagination` could just be `md-pagination`. I guess that is a personal preference but I think most people would prefer shorter attribute names.

[2015-06-27 19:31] daniel-nagy commented on #31
Resolved in version 0.5.0

[2015-06-27 19:31] #31 closed

[2015-06-27 20:19] #33 closed

[2015-06-27 20:56] #20 closed

[2015-06-28 19:55] #11 closed

[2015-06-29 14:34] fanturi commented on #22
Hi,

It could be great to be able to disable some checkboxes too.
For example we could set a condition in which the checkbox is "selectable":

[code]
If the condition is not met the checkbox is disabled.

Thanks for your work.

[2015-06-29 14:50] daniel-nagy commented on #22
@fanturi I've thought about this in the past and I like your idea. This shouldn't be too difficult to implement.

[2015-07-01 13:42] MemoLabra opened #35 "Pagination with dynamic data"
Hi first of all thank for this module have a nice look and feel as material design.

I have a project what involve in collect data from sensors through MQTT protocol to the server and proportionate to front end with Socket.io, i need this data to be displayed in a table and users can interact with them so this module fits perfect as data table.

the data from Socket.io are saved in a ```$scope.arr

[2015-07-01 14:13] daniel-nagy commented on #35
Are you trying to achieve pagination on the server side or client side? As long a `$digest` is performed when new data is pushed from Socket.io to the client I believe `ng-repeat` should be able to handle that just fine.

I think the problem might be that you are not actually implementing the pagination. Simply assigning values to the attributes on the `md-data-table-pagination` directive will not

[2015-07-01 16:14] MemoLabra commented on #35
Thank you ! completely forget about ng-repeat filters ...sometimes just have to see bigger lol, in a complement way you can point this on documentation maybe can help people who is starting with angular like me :smiley:

[2015-07-01 16:46] daniel-nagy commented on #35
I'm happy you got it working! I can provide this code in the documentation for pagination.

[2015-07-01 16:46] #35 closed

[2015-07-01 18:56] ahmadhsalim commented on #14
Can you make it so that the pagination and order change event is NOT run when the page is loaded? Instead it should be run only when the page is changed by the user interactively. I'm having some trouble because the page change event is run when the page is first loaded.
Have a look at the `<pagination>` directive in this [link](https://angular-ui.github.io/bootstrap/#/pagination). I use it in a s

[2015-07-01 19:01] ahmadhsalim commented on #14
Also I don't understand how you have implemented it in your `nutritionController`. Where are the `onOrderChange` and `onPageChange` event handlers??

[2015-07-01 19:13] daniel-nagy commented on #14
I'll admit that this needs more work and the reason the function gets triggered on page load is because the `ng-change` directive automatically fires in the select dropdown. I'll revisit this after I finish implementing the `md-disable-select` attribute.

I think this is just a mistake on my part. I should of removed the attributes in the template as `ng-repeat` is smart enough to know when the va

[2015-07-02 01:20] daniel-nagy commented on #22
@fanturi this is now possible it version 0.7.0; it was a bit more difficult than I anticipated. :)

[2015-07-02 07:51] fanturi commented on #22
Hi @daniel-nagy,

It's great, thanks ! It's working like a charm :)

I just think it's weird to have put the attribute in the <tbody>.
It means we use "dessert" outside ng-repeat, it's disturbing.

[2015-07-02 11:50] daniel-nagy commented on #22
Haha, yeah it's a little strange. I put it there because there was more room on the `<tbody>` element if you are using `ngRepeat` to do pagination in the client.

There is something in the order of 7 different directives now within this module and quite a few of them need to be aware of your `ng-repeat` expression. It is also worth noting that we couldn't simply put an `ng-disabled` directive on t

[2015-07-02 15:26] daniel-nagy opened #37 "Row wrap limit"
Limit the number of rows a table cell can wrap. Configurable to hide overflow.

[code]
| example |
| :---------- |
| The text in this table cell is quite long |
[code]
| example |
| :---------- |
| The text in this table cell is ... |

[2015-07-02 15:28] daniel-nagy opened #38 "Pagination page selector"
It would be nice select a page or at least jump to the first or last page.

[2015-07-02 15:48] daniel-nagy commented on #14
@ahmadhsalim I'm not positive but I think master branch of Angular Material contains a fix for `ngChange` firing immediately inside `mdSelect`. I've pulled down master branch for my current project and it is no longer firing on page load. It looks like they've made some other changes to the template so the styling is not completely accurate but is still very usable.

Now that I have finished `md-d

[2015-07-02 19:45] #14 closed

[2015-07-07 14:51] razzbee opened #40 "not responsive"
I tried using it in my project , it works fine, but its not responsive, I dont know if I am missing out something??

[2015-07-07 15:01] daniel-nagy commented on #40
What exactly do you mean by not responsive? Is there something specific you see in the demo that you cannot replicate in your project?

[2015-07-07 15:02] razzbee commented on #40
The table doesnt resize in mobile view,the demo works fine, I dont know about mine.

[2015-07-07 15:16] daniel-nagy commented on #40
hmm... The table is going to have a natural width based on the largest cell in each column. The table will not shrink beyond this natural width and will scroll horizontally on smaller screens.

If this doesn't describe what your'e experiencing, it may be a problem with the general layout of your application. If your not familiar with how flexbox works it can be tricky to achieve your desired layou

[2015-07-07 15:18] razzbee commented on #40
Thank You very much , since I am pretty new to angular and material angular ,I guess that might be the problem. I will check my layout again and give you feedback

[2015-07-08 00:58] twrk opened #41 "Multiple tables and md-selected"
Try using the select all checkbox in either table of [this plunker](http://plnkr.co/edit/qFA9Nts7MTXuMoR3B73a?p=preview), note that the md-selected arrays for the separate tables exhibit unexpected behavior.

[2015-07-08 01:37] daniel-nagy commented on #41
This is strange, looking into it.

[2015-07-08 02:11] daniel-nagy commented on #41
It's a scoping issue. I [forked](http://plnkr.co/edit/Kl9M3eDt6JWp4JAp7hcG?p=preview) your Plunker to demonstrate. I created an `isolate` directive that creates a new scope and attached it to the cards. I honestly don't know why this is an issue. the `md-data-table` directive should create a new isolated scope.

It's getting late enough too where I don't feel like looking at code anymore. I'll see

[2015-07-08 02:27] twrk opened #42 "Conflict between numeric columns and Angular's built-in number filter"
When using both, the resulting behavior can be seen in [this plunker](http://plnkr.co/edit/qFA9Nts7MTXuMoR3B73a?p=preview) - any digits after the comma separator are truncated.

[2015-07-08 04:48] razzbee commented on #40
I think the the problem is not from my layout but from the module. This is how the error can be reproduced. If you wrap your app in a div with layout row or body with layout = 'row' then data-table which is needed by md-sidenav then the problem is caused

[2015-07-08 05:53] razzbee commented on #40
I have been able to fix it by adding conditional layouts :
 <div layout="column" layout-gt-md="row">
<md-sidenav>
</md-sidenav>

.....
</div>

I lock the sidenav at  layout-gt-md , so I have to set it to row to align the sidenav and the main content side by side , else the default layout should be column.
Thank You so much.

[2015-07-08 05:54] #40 closed

[2015-07-08 11:33] daniel-nagy commented on #42
This is because Angular's filter is going to filter the number first and then parseFloat will try to parse the resulting string and will only read up to the first non-digit character, in this case the ','. I think I will just remove the precision attribute and advocate Angular's number filter.

[2015-07-08 12:06] daniel-nagy commented on #42
You should be able to use Angular's number filter now.

[2015-07-08 12:06] #42 closed

[2015-07-08 18:25] Justkant opened #43 "Sticky header and footer"
Hi, it would be nice to have a sticky header and footer. I'll work this feature if I have time.

Nice work :)

[2015-07-08 18:29] Justkant commented on #37
+1

[2015-07-08 18:39] daniel-nagy commented on #43
@Justkant I've implemented a sticky header in the past for an interface library I wrote in Angular for work.

**Tricky things**
* Keeping the width of the header cells and the body cells the same without hacky code and registering a bunch of resize watch listeners for each column.
* Horizontally scrolling the header with the table.

The solution I eventually came up with involved cloning the origi

[2015-07-09 10:09] razzbee opened #44 "Pagination Problem"
Hello , I am having some problems with the pagination , it simply doesn't work, I checked the console and this was the error : Table Pagination: Could not locate your table directive, your onPaginationChange function will not work.

[2015-07-09 11:37] daniel-nagy commented on #44
The pagination directive is located outside the table directive so when you register your trigger handler  the pagination directive attempts to locate the table directive. It does this as follows,

1. Starting from the pagination directive walk up the DOM tree until the `md-data-table-toolbar` element is found.

2. From the `md-data-table-toolbar` element walk the previous element siblings until t

[2015-07-09 11:42] daniel-nagy commented on #41
@twrk sorry I haven't been able to get to this yet. I've been pretty busy this week, I may not have a solution for this until this weekend sometime. I know what the problem is and I think it may take a little bit of refactoring to fix it properly.

[2015-07-09 13:25] razzbee commented on #44
Thank You very much, it was a little typo in my code I .. Thank You, I have now fixed it

[2015-07-09 13:25] #44 closed

[2015-07-09 16:25] twrk commented on #41
@daniel-nagy No problem, you've been quick to respond and address issues, keep up the great work!

[2015-07-10 02:59] ConnorGBrewster opened #45 "Hide selection checkboxes"
Hi would it be possible for you to add a directive to hide the checkboxes on the table?

[2015-07-10 11:24] daniel-nagy commented on #45
Do you mean hide the checkboxes and still have selectable rows? If you don't want selectable rows you can remove the `md-row-select` attribute and the checkboxes will go away.

[2015-07-10 15:43] ConnorGBrewster commented on #45
Ahhh I feel really stupid :( No idea why I didn't try that.
By the way, nice work on the project, it is working perfectly for me!

[2015-07-10 15:43] #45 closed

[2015-07-10 17:20] daniel-nagy commented on #45
@ConnorGBrewster Thanks!

Be sure to reference the [API Documentation](https://github.com/daniel-nagy/md-data-table#api-documentation) for usage.

[2015-07-10 21:22] enthalpy-yan commented on #41
I also had some scope issue. I always get not defined as an array error even though it's an array in my controller.

[2015-07-10 22:37] daniel-nagy commented on #41
@enthalpy-yan It sounds like your controller's scope may not be visible to your table. Make sure the scope of your table is a descendent of your controller's scope.

[2015-07-11 03:05] enthalpy-yan commented on #41
@daniel-nagy yea, I was thinking the same thing but the data(same scope) in the table rendered correctly.

[2015-07-11 12:42] daniel-nagy commented on #41
Interesting, have you tried using object notation for your selected items? Something like,

[code]

Sometimes this fixes issues with scope inheritance. If that doesn't work, if you could create a codepen, plunker, fiddle, etc. recreating the issue I would be happy to fix it for you.

[2015-07-13 21:30] brad-decker opened #46 "md-trigger with controllerAs syntax in ES2015"
Greetings i'm using babel to build my controllers, and everything works correctly until it comes time to use the functions passed into md-trigger.

The problem is that in my controller functions i'm using "this". here's a code snippet

    export default class MainController {
        query = {
            order: 'name',
            filter: '',
            page: 1,
            limit: 10,

[2015-07-13 22:50] daniel-nagy commented on #46
@brad-decker I'm not too familiar with ECMAScript 6. I'm guessing in your template somewhere you have,

[code]

and in your pagination element,

[code]

I just tested the controllerAs syntax in the demo app and the value of `this` from inside the `pageChanged` function is the scope of the pagination directive. Inside the pagination directive I have,

[code]

instead of,

[code]

meaning the functi

[2015-07-13 22:54] brad-decker commented on #46
$Property is exposed on this. from the injection system i have created in order to access dependencies throughout the child functions. Basically the constructor is called with $Property as a parameter, and then i assign this.$Property = $Property so that the functions have access to it.

I could create a global self variable and set it to the instance in the constructor as a potential workaround.

[2015-07-13 23:11] daniel-nagy commented on #46
I would give that a shot. I just tried,

[code]

inside the pagination directive and it appears the value of `this` from inside the `pageChanged` function is the wrapper function Angular creates.

[2015-07-14 04:44] samster opened #47 "Hide checkbox?"
Thanks for this great module!  I'm wondering if there is a way to disable showing the checkbox if I'm allowing "md-auto-select".  Essentially, I want to go to a different view once a user clicks on a row.  On that note, is there a event handler for the on-click event or just ng-click?  Thanks again!

[2015-07-14 06:43] daniel-nagy commented on #47
I'm not entirely sure what you're trying to accomplish. If you just want to route the user to another view when they click a row I wouldn't use row select, I would just use `ng-click`. For example,

[code]

[2015-07-14 08:11] Synturas opened #48 "Get Selected Row"
Hello, i'm still wondering how i can access the selected rows, it says, my "selected" array is always undefined.

[2015-07-14 11:28] daniel-nagy commented on #48
The variable you assign to the `md-row-select` attribute must be defined as an array. For example, in your template

[code]

and in your controller,
[code]

If you've done this and it is still not working, it may be that your controller's scope is not visible to the table directive. You need to be sure that your controller is an ancestor of the table directive.

If you're sure that the scope of yo

[2015-07-14 11:41] Synturas commented on #48
It works now, after adding this line to my dialog controller:

locals: {selected: $scope.selected},

[2015-07-14 11:41] #48 closed

[2015-07-16 08:07] gerbil opened #49 "Unknown provider $nutritionProvider"
I'm facing this error in console after install + controller (layout) implementation:
Error: [$injector:unpr] Unknown provider: $nutritionProvider <- $nutrition <- nutritionController

[2015-07-16 08:12] gerbil commented on #49
Also, you forgot to add to your docs that 'md.data.table' must be included in .module section.

[2015-07-16 11:49] daniel-nagy commented on #49
@gerbil Are you trying to run the demo app? The nutrition controller exist only in the demo app and is not a part of the module. So if you are trying to use the nutrition controller in your own app, it's not going to work.

[2015-07-16 11:50] #46 closed

[2015-07-16 11:50] #47 closed

[2015-07-17 06:53] gerbil commented on #49
Sure, thnx)

[2015-07-17 06:55] gerbil opened #50 "Sorting"
Hi,

can i sort collumns using th buttons?

[2015-07-17 11:09] daniel-nagy commented on #50
What buttons are you referring to? You can certainly make buttons to sort columns if you wanted to.

[2015-07-17 11:09] #49 closed

[2015-07-18 19:06] #50 closed

[2015-07-18 20:01] daniel-nagy opened #52 "Pagination footer is too wide for mobile devices."
The pagination footer is too wide to display properly on small screens.

[2015-07-19 14:50] daniel-nagy commented on #52
The pagination footer will now collapse into two footers on screens less than or equal to `600px`

[2015-07-19 14:50] #52 closed

[2015-07-20 12:29] forcewill opened #53 "Error in pagination with latest branch version"
With the latest commit i keep getting the error `TypeError: Cannot read property 'localName' of null
    at findTable (http://localhost:9001/bower_components/angular-material-data-table/dist/md-data-table.js:456:63)`   it turns out that  `element.prop('previousElementSibling')` is returning null

[2015-07-20 12:38] forcewill commented on #53
Never mind just saw the new doc update for version 0.7.6

[2015-07-20 12:38] #53 closed

[2015-07-20 12:39] daniel-nagy commented on #53
I was just about to link you to it but you already figured it out :)

[2015-07-21 06:42] Synturas opened #54 "Normalized Attribute Names"
Hello, i got a problem with filling the datatable rows dynamically:

right now i got this line, to fill each line with data:

header:

`<tr data-ng-repeat="selection in config.configs">
    <th order-by="name" data-ng-repeat="entry in selection">{{entry.attributeName}}</th>
</tr>`

body:

`<tr data-ng-repeat="selection in config.configs | orderBy: query.order | filter: skip | limitTo: query.limit"

[2015-07-21 10:47] gerbil commented on #41
How can i use different md-row-select arrays for ng-repeat created tables?

[2015-07-21 11:48] daniel-nagy commented on #54
Does your table have multiple header rows? This module is not designed for tables with multiple header rows and I think I would advise against it. It might be confusing for a user to see a table with multiple header rows and I'm not sure what meaning that would have.

Anyways, I just tried this in the demo app and using `ng-repeat` on a table header row resulted in each header row getting a master

[2015-07-21 12:12] Synturas commented on #54
No i dont have multiple header rows, my markup looks like this right now:

`<md-data-table-container>
            <table md-data-table md-row-select="selected">
                <thead md-order="query.order">

                    <tr data-ng-repeat="selection in config.configs">
                        <th order-by="name" data-ng-repeat="entry in selection">{{entry.attributeName}}</th>

[2015-07-21 12:44] daniel-nagy commented on #54
In your `thead` element, you are using `ng-repeat` on the `tr` element. This could potentially produce multiple header rows if you had more that one object in your `configs` array. I might suggest reconsidering the format of your object or to not use `ng-repeat` to access the first object in an array.

I've created a fork-able Codepen under the [Demo](https://github.com/daniel-nagy/md-data-table#d

[2015-07-21 12:50] Synturas commented on #54
For me it's not possible not to use ng-repeat, because the table head has a dynamic parameter size.

I forked your Codepen http://codepen.io/anon/pen/OVoWbE

[2015-07-21 14:01] daniel-nagy commented on #54
The reason row selection is not working is because you are using `data-ng-repeat` instead of `ng-repeat` in the table body. In the module I'm checking if the `ng-repeat` attribute exists.

I updated your [Codepen](http://codepen.io/anon/pen/vOzxBz).

Do you need to validate your HTML? For now you can use `ng-repeat` and row selection should work. I'm going to rename this issue to normalized attrib

[2015-07-21 19:30] cah-alexsukhodolsky opened #55 "Tag Latest Build"
Please tag your latest build as there is currently no way for me to specify a version of md-data-table in my project's bower.json. I have to set the version to "*" but prefer to specify an actual build number "0.7.6" so future changes don't break the functionality.

Per Bower's documentation for the bower.json file (http://bower.io/docs/creating-packages/):

### Version
**Ignored by Bower as git t

[2015-07-21 19:51] daniel-nagy commented on #55
@cah-alexsukhodolsky I will do this tonight after work. Nice avatar btw, I just finished season one of Silicon Valley.

[2015-07-21 20:02] cah-alexsukhodolsky commented on #55
Awesome--thanks!
The first season of Silicon Valley was great.

[2015-07-21 22:25] #55 closed

[2015-07-22 06:42] gerbil commented on #41
I've tried md-row-select=" '{{server.name}}' ", but no i got errors like:
rror: [$compile:nonassign] Expression ' 'TESTF' ' used with directive 'mdDataTable' is non-assignable!

[2015-07-22 06:56] daniel-nagy commented on #41
@gerbil strings are non-assignable, the syntax should be `md-row-select="server.name"` where `server.name` is an array in your controller. When you select a row it will be pushed onto this array.

[2015-07-22 10:18] gerbil commented on #41
I have 10 tables on one page, how can i use 10 different 'selected' arrays?

[2015-07-22 11:42] Synturas opened #56 "Multiple Tables on one Site"
Hey,

i got an issue with the selected items, when having multiple tables at the same page.
Unfortunately i'm not able to write the "md-row-select" value by hand, because im creating the tables with ng-repeat. How do i refer to an array for each generated table in a dynamic way?

[2015-07-22 11:45] daniel-nagy commented on #56
I'm actually working on answering this question right now. This same quest was asked in hour ago, see #41. I'm going to post the answer there.

[2015-07-22 11:45] #56 closed

[2015-07-22 12:27] daniel-nagy commented on #41
##### Solution One

Use the ng-controller syntax.

[code]

[Codepen](http://codepen.io/anon/pen/NqLMer?editors=101)

##### Solution Two

Put the array on the variable you are repeating.

[code]

##### Solution Three

Create an array of arrays and access them by index.

[code]

[code]

[2015-07-22 13:28] Synturas commented on #41
Tested solution two, works absolutely fine as far as i can see.

[2015-07-23 04:57] gerbil commented on #41
Solution number two gives me:

`md-row-select="server.selected" : server.selected is not defined as an array in your controller, i.e. server.selected = [], two-way data binding will fail.`

[2015-07-23 06:18] Synturas opened #57 "Progress bar wrong column count"
Hey,

when creating the header elements in a dynamic way, the column counter function returns a wrong value, it seems, that the function counts the rows, before "ng-repeat" finishes it's work.

[2015-07-23 10:45] daniel-nagy commented on #57
Okay, I think you're right. It will need to wait for `ng-repeat` to finish.

[2015-07-23 10:53] daniel-nagy commented on #41
@gerbil to use solution two you would need to explicitly define the property selected as an array on your server object,

[code]

Your solution works too though.

[2015-07-24 04:24] Synturas commented on #57
What about just setting

`<td colspan="100%"></td>`

[2015-07-24 11:12] daniel-nagy commented on #57
Using percentages in `colspan` is invalid syntax. The `colspan` attribute only accepts numbers. There is a special syntax to tell the column to span the entire `colgroup` but that only works in Firefox. [Reference](http://www.w3schools.com/tags/att_td_colspan.asp).

[2015-07-24 11:45] daniel-nagy commented on #57
Another problem with using `ng-repeat` on header cells is that body cells in numeric columns are not right aligned. I'm going to need to do something similar to what I did in the table body and check for an `ng-repeat` directive on a header cell and tag it with my own directive that can notify the rest of the directives when `ng-repeat` has finished.

[2015-07-24 20:23] cleydsonjr commented on #7
@daniel-nagy I was thinking about the best markup approach and came up with this solution:
[code]
and for the large option:

[code]

Whats your opinion?

[2015-07-24 20:43] daniel-nagy commented on #7
A few things.

* For large dialogs, we will need attributes for the cancel and save events. Something that will allow the developer to execute their own functions when the buttons are clicked.

* For large dialogs, we will need attributes that allow the developer to change the text for the cancel and save buttons for non-English applications.

* We might want to consider making two separate direct

[2015-07-24 21:23] cleydsonjr commented on #7
I agree with you. But we should have default save/cancel events. Only set the value to the model when save and do nothing when cancel.

Anyway.. I'm gonna focus just on `md-edit-dialog-small` for a first submission.

[2015-07-24 21:52] daniel-nagy commented on #7
Okay. Another thing to think about is attributes for input validation. Things like `max-length` and `required`.

[2015-07-27 20:38] Robbio opened #59 "md-single-select"
I'm not sure if this is the right forum to ask, so please direct me accordingly.

I was looking at the source, and wondered if it would be possible to update the table to be configured to only allow single selection of a given row in the table.  Additionally, if the table is defined as md-single-select="selected" then no check boxes are really needed, but the selected row remains highlighted...  a

[2015-07-27 20:55] daniel-nagy commented on #59
@Robbio

You may conditionally disable row selection; however, the checkboxes will remain in a disabled state. Here is a [link](https://github.com/daniel-nagy/md-data-table#row-selection) to the section on row selection. You will see an example for conditionally disabling rows.

From your description, I'm not sure if this exactly what you are looking for or not. Without a checkbox, it may not be o

[2015-07-27 21:32] Robbio commented on #59
Thanks for the response.
I only suggested adding support for single selection as I'm thinking of the use case where the user selects a given row to open (a dialog) an "Edit" view
en row to open (a dialog) an "Edit" view of the record that the row represents.  In this case, multi-selection in a large set doesn't necessarily make sense.

I managed to add in single row (only) selection into the table

[2015-07-27 21:42] daniel-nagy commented on #59
This is pretty trivial using `ng-click` as you just demonstrated. Editing dialogs to manipulate individual cells is planned for future releases.

[2015-07-28 00:00] jimmywarting commented on #15
no jquery please :)

[2015-07-28 01:04] jimmywarting commented on #7
There is alot of things you would like to be able to control in the dialog, such as the text translation, type of input, validation, step, title, placeholder, error message, ng-model-options.

Maybe we should do what `$mdDialog` are able to do: use a templateUrl or a template string. then md-edit-dialog is only responsible for showing a nice dialog at the correct position and a developer can contr

[2015-07-28 01:57] daniel-nagy commented on #7
@jimmywarting that might be a good solution.

[2015-07-28 09:42] jimmywarting commented on #7
one thing i also was thinking of was that the small and large dialog can be smart enough to figure out what kind of input type should be used.

if `thead>tr th` is numeric or the `typeof value` are number show a `input type=number` or if the typeof value are boolean show a checkbox and so on

[2015-07-28 21:09] gaboAcosta commented on #59
On the material design manual, it states that for edition the row should be selected with the checkbox and a controll will appear on the header to open the edition. (this is just an option is not mandatory but I think it is the best UX)

https://www.google.com/design/spec/components/data-tables.html#data-tables-tables-within-cards

[2015-07-28 21:40] daniel-nagy commented on #59
@gaboAcosta valid point.

I'm Closing this issue as I don't believe this is something that should be handled internally by the module. If you want to do something other than select a row when clicked you can use `ng-click` to capture the event.

[2015-07-28 21:40] #59 closed

[2015-07-29 02:09] daniel-nagy opened #62 "Chrome Rendering Bug"
When the width of the container is small enough to allow the table to scroll horizontally and the height of the viewport is short enough to scroll vertically, an undesirable lagging effect is experienced in Chrome and Opera.

[2015-07-30 12:19] #57 closed

[2015-07-30 12:22] #41 closed

[2015-07-31 20:23] shader opened #63 "Toggle md-row-select"
I want to turn the checkbox column visibility on and off, but I haven't figured out how.

I tried removing the md-row-select attribute, which is responsible for generating it in the first place, but it didn't have any effect.

[2015-07-31 21:38] Fardinak opened #64 "md-row-select parsing issue when defined by ng-attr-x"
I have the same need as #63; and now that I think of it, I'd face the same problem in the next step, but first:
I chose the `ng-attr-x` way to handle the adding/deleting the attribute like this:
[code]
This should result in:
[code]
if the user has the respective permission and to the following if not:
[code]

Instead it throws a Syntax error regarding the angular expression provided. This works as

[2015-08-01 00:11] daniel-nagy commented on #64
`ng-attr-md-row-select` will not work at the moment. I'll need to make some modifications.

[2015-08-01 00:15] daniel-nagy commented on #63
Removing `md-row-select` should remove the checkboxes. If this is not the case then I most likely broke something in version 0.8.0. I've been moving all day but tommorow hopefully I will have time to fix this.

[2015-08-01 18:10] daniel-nagy commented on #63
@shader removing the `md-row-select` attribute indeed removes the checkboxes. I suspect you want to conditionally enable row selection?

This is an interesting problem. In order for the directive to evaluate an expression, checkbox creation will need to be deferred until the linking phase and then recompiled. One issue; however, is once compiled the truthfulness of the expression may change. At wh

[2015-08-03 15:05] jimmywarting opened #65 "shift-select multiple checkboxes like GMail?"
Click one row next you click on another row with shift and everything between gets selected

[2015-08-03 15:13] jimmywarting opened #66 "I'm curies to know the date on the changelog"
Could you include the date when you wrote the new updated version please?

[2015-08-03 15:16] daniel-nagy commented on #65
This is a good idea.

[2015-08-03 15:19] daniel-nagy commented on #66
Where do you want to see the date, in the change log of the README? You can always look at the commit history for a particular branch, the dates of the commits are shown there.

[2015-08-05 08:33] shivasingh0101 commented on #20
Failed to load template: templates.md-data-table-progress.html...
i am getting this error message and also rest of the templates are not being loaded in the local server.

[2015-08-05 12:26] daniel-nagy commented on #20
@shivasingh0101 that's strange, what version of Angular are you using?

[2015-08-05 12:34] shivasingh0101 commented on #20
@daniel-nagy angular 1.4.0

[2015-08-05 12:48] shivasingh0101 commented on #20
![image](https://cloud.githubusercontent.com/assets/12746995/9085871/4b10b1d2-3b9e-11e5-948d-e60773e4ecf0.png)

This is the error showing on my browser...

[2015-08-05 13:57] daniel-nagy commented on #20
Either they are not being loaded into the template cache or the template cache is somehow getting emptied?

[2015-08-05 19:06] jimmywarting commented on #66
I know, but that is kind of annoying.
Would be easier to see that in the log of the README.

You don't have to do it on all previous commits, but just for a feature reference

[2015-08-05 19:06] #66 closed

[2015-08-05 19:13] jimmywarting commented on #65
I have a bookmarklet wish dose this on all sites, very useful ;) but it dosen't work on angular websites :(
going to share it with you. You might need it and change it to do it the angular way.

	javascript: void((function() {
	    function load(type, src) {
	        if (type == 'css') {
	            var s = document.createElement('link');
	            s.setAttribute('href', src);
	            s.s

[2015-08-05 20:38] daniel-nagy commented on #66
Okay, I'll start putting dates in the change log.

[2015-08-05 20:49] daniel-nagy commented on #65
The general algorithm for achieving this will probably look something like,

* Make a note of the index of the last selected item.
* When a new item is selected
    * if the shift key is pressed, select all intermediate items under the constraint that they are able to be selected
    * else select the current item

Should be relatively painless to add this functionality whenever I find the time to

[2015-08-06 03:49] shivasingh0101 commented on #20
Is there any issue with webpack coz we are using webpack to build our app....

[2015-08-06 03:55] shivasingh0101 commented on #20
And one more thing it worked when i loaded the js and css files into my main js file but still the pagination is not working i mean its redirecting to the next page but date is not rebinding.

![error_image2](https://cloud.githubusercontent.com/assets/12746995/9103550/00cb9cde-3c1d-11e5-8560-976120c1bc2e.png)

[2015-08-07 17:10] gaboAcosta opened #67 "Display flex on toolbar disables angular material design flex"
I just found that if you try to add angular material design flex elements, they stop working because of the display flex on the css:

[code]

If this is a material design library, shouldn't you delegate this flex functionallity to the angular material design library?

[2015-08-07 22:43] daniel-nagy commented on #67
are you trying to use layout attributes on the `md-data-table-toolbar` element?

[2015-08-08 04:48] tiltshiftfocus opened #68 "Pagination not working"
May I know how does the client side pagination work exactly?
What function do I have to create for the md-trigger?

The page doesn't seem to change although the page number does change.

[2015-08-08 12:23] daniel-nagy commented on #68
You do not need a trigger function if you are doing pagination in the client. If your `ng-repeat` looks like this,

[code]

and your `md-data-table-pagination` element looks like this,

[code]

where `$items`, `$order`, `$limit`, and `$page` are defined on the scope, then pagination should work without needing to do any extra work.

[2015-08-08 13:55] daniel-nagy commented on #65
I just started working on this and quickly realized this is going to be much more intuitive than I originally thought. The main obstacle is the sort order of the rows. The rows can change order but the order of the array will not be effected. I think the `ng-repeat` directive uses a hash table to determine the order of the items in the array without actually sorting the array.

I think in order to

[2015-08-08 14:25] gaboAcosta commented on #67
Yes, we had an specification where the client asked for the search bar to only be one third of the width on desktop devices and the full width on mobile devices.

In order to achieve this we had to do a layout with two flex, one flex-gt-sm="70" and another flex-gt-sm="30"

I was banging my head trying to figure out why would it not work, only to find out that this css was messing with Angular Mate

[2015-08-08 14:32] daniel-nagy opened #69 "Long Column Names: Display the Full Name on Hover"
Currently, I'm only allowing the column header to expand the additional width of the cell caused by the padding between cells. It would be better if, on hover, the column header determined the width of the column so the full column name may be displayed. This can be achieved by setting the position to relative on hover; however, there is no way to animate this nicely in CSS. I may be able to do th

[2015-08-08 15:07] daniel-nagy commented on #67
I believe in most cases it is desirable for the toolbar to be displayed flex with flex direction row and items aligned center. This is how the `.md-toolbar-tools` class works in Angular Material. You can always override the styles of the `md-data-table-toolbar` element. For example,

[code]

will change the flex direction to `column`. Of course you can always slap your own class on the element and

[2015-08-09 17:49] floscom opened #70 "$interpolateProvider - StartSymbol & EndSymbol"
The **StartSymbol** and **EndSymbol** from the **$interpolateProvider** are not used.

[2015-08-09 18:09] daniel-nagy commented on #70
Can you be more specific as to why this is an issue?  The default is to use double curly brackets.

[2015-08-09 18:10] #68 closed

[2015-08-09 18:10] #67 closed

[2015-08-09 18:15] daniel-nagy commented on #64
dupe of issue #63

[2015-08-09 18:15] #64 closed

[2015-08-09 20:15] floscom commented on #70
Yeah i know. I am using this $interpolateProvide to change the Symbols to [[ & ]] because of some issues with my template engine.

[code]

and on line 13 in the file md-data-table.js you find this:

[code]

i've never used this .text function before, therefore i have never issues with custom symbols.

[2015-08-09 21:23] daniel-nagy commented on #70
Ah okay, I need to get the start and stop symbols from the `$interpolateProvider` instead of assuming they will be the double curly brackets.

[2015-08-09 21:43] floscom commented on #70
no big deal ;)
thumbs up for this plugin, i like it!

[2015-08-09 21:48] daniel-nagy commented on #70
I just released v0.8.1 to fix this issue. Thanks! I'm happy to hear you like it.

[2015-08-09 21:48] #70 closed

[2015-08-10 01:48] daniel-nagy commented on #8
resolved in version 0.8.2

[2015-08-10 01:48] #8 closed

[2015-08-10 05:38] brianfeister opened #72 "Transclude + bindToController + This directive?"
I have a project that makes use of a few "wrapper" directive that put various shell UI elements in place for all of the pages of my application.  These directives make use of `controllerAs: 'directiveCtrl'` + `bindToController: true` + `transclude: true`.  I've got a codepen here where I can't access the bound parent controllers from inside your directive.  Sorry, I know this is a complex use case

[2015-08-10 08:02] jimmywarting commented on #65
Two solution came to mind. The first is to check all check boxes and trigger a change event the other is to store the result array as a variable

"variable in expression as alias_expression – You can also provide an optional alias expression which will then store the intermediate results of the repeater after the filters have been applied. Typically this is used to render a special message when a

[2015-08-10 12:13] daniel-nagy commented on #72
The problem is you have `scope: true` on you inner and outer wrapper directives. This is going to create a new scope for each directive. From reading the [$compile API](https://docs.angularjs.org/api/ng/service/$compile) it sounds like this new scope should still prototypically inherit from its parent scope so I'm not sure why this is an issue. Here is your [plunker](http://codepen.io/anon/pen/zGb

[2015-08-10 12:24] daniel-nagy commented on #65
Interesting. This may be useful but it sounds like this result set is only going to include items from the current page. There is the edge case where somebody selects an item on page one then navigates to the next page and shift selects a row expecting all the intermediate items to be selected. In this case, the result set is only going to include items from page two so selecting items from page o

[2015-08-10 16:30] jimmywarting commented on #65
I don't think there is such edge case where you would want to select more item than what you can see on the page. It would be unknown for the end user. And I also think that would be a bad user experience

[2015-08-10 17:01] daniel-nagy commented on #65
This was my initial thought as well; however, if the developer is doing pagination in the client, the current behavior is to select all items; even items that are not visible. This was actually requested by someone and my initial response was very similar to what you just said. I decided to allow it because as long as the number of selected items is clearly visible, the user should be able to easi

[2015-08-10 20:45] gaboAcosta commented on #62
This is happening on Android 5.0

[2015-08-10 21:48] daniel-nagy commented on #62
Okay, I don't have access to many Android devices. I have access to a Nexus 4 at work running android 4.4, I'll see if I can reproduce it with that.

What device are you using? Are you using Google Mobile?

[2015-08-11 17:13] jimmywarting commented on #65
I would vote against it. But I could agree upon a custom action such as "do something with everything with the entries on this current page" or "everything that match this search result". that could benefit both client and ajax pagination.

[2015-08-12 00:56] checherman opened #73 "thead th hide-sm not working but in tbody td its work"

[2015-08-12 08:44] PatrikLythell opened #74 "descendFirst on $scope.query"
Would be nice if you could choose descendFirst on initial $scope.query in controller. Useful for dates.

[code]

[2015-08-12 09:44] Synturas opened #75 "example codepen is broken"
view description

[2015-08-12 09:45] Synturas opened #76 "header title not showing"
After updating to the newest version the header titles are not showing up anymore.

[2015-08-12 11:38] daniel-nagy commented on #74
Does using a minus sign work?

[code]

Then you can put the `descendFirst` attribute on the column header to have it sort descending by default when the user clicks it. Let me know if this works for you.

I found a bug while testing this for you. When you hover a column header with the descend first attribute the arrow icon should point downwards. The column will still sort descending though.

[2015-08-12 11:43] daniel-nagy commented on #75
I was trying to the 0.10.1 CDN which isn't available yet. Should be working again now. The inline menus are going to look strange because the template for the `md-select` element changed in version 0.10.1 and only the 0.10.0 CDN is available.

[2015-08-12 11:43] #75 closed

[2015-08-12 11:51] daniel-nagy commented on #76
Do you know which version you were using before you updated? In version 0.8.0 there were some syntax changes to column headers. You must now use an attribute to specify the column name.

[code]

[2015-08-12 14:08] Synturas commented on #76
I didn't recognize the syntax changes, thanks alot!

[2015-08-12 14:08] #76 closed

[2015-08-12 15:00] PatrikLythell commented on #74
Ah! You my friend are a genius, thanks! Sorry for taking up your time.

[2015-08-12 15:00] #74 closed

[2015-08-12 15:08] daniel-nagy commented on #74
No problem! This issue lead me to discover that other bug, which should be fixed now. :+1:

[2015-08-12 16:03] checherman opened #77 "how to put the header attributes"
`<md-data-table-container>
  <table md-data-table >
    <thead >
      <tr>
        <th hide-sm width="45px" name="ID" ></th>`

the hide -sm and width attributes once the page loads disappear.

[2015-08-12 16:09] jsenecal opened #78 "Checkbox color"
Hello there,

As per https://www.google.com/design/spec/components/data-tables.html#data-tables-interaction it seems like you are using the wrong color for the checkbox... `md-primary` class is used while I think it should be `md-accent` or nothing at all as `<md-checkbox>` is in the accent color by default.

Another idea would be to enable a way to change the checkbox classes.

[2015-08-12 16:10] daniel-nagy commented on #77
I'm actually working on this right now, should have a fix soon. The problem is I'm replacing the `<th>` element with a template that I manufacture and I'm not preserving the attributes of the original element.

[2015-08-12 16:20] daniel-nagy commented on #78
This is undocumented but you can change the color of the checkboxes. Any `md-*` classes you put on the `<table md-data-table></table>` element will be applied to the checkboxes and I think the progress indicator as well.

The default is to use the accent color of your application. I put an `md-primary` class on the `table` element in the demo app.

I'd like to use Angular Material's `$mdTheming `

[2015-08-12 16:31] jsenecal commented on #78
Ah! Thanks for the explanation! much appreciated :)

[2015-08-12 16:31] #78 closed

[2015-08-12 16:34] checherman commented on #77
I have added an attribute to pass attributes to the temple in this way in the directive function mdColumnHeader

`var attrib = '';
	if(angular.isDefined(attrs.attrs)){
      attrib = attrs.attrs;
    }
    var template = angular.element('<th ' + attrib + '></th>');`

in view `<th attrs="hide-sm" name="ID" order-by="id"></th>`

[2015-08-12 16:42] daniel-nagy commented on #77
I was just going to keep any attributes defined on the element

[code]

I don't believe your solution would work for all attributes.

[2015-08-12 16:56] daniel-nagy commented on #77
Can you confirm that version 0.8.5 resolves this issue?

[2015-08-12 16:56] checherman commented on #77
It works all Attributes are obtained But stop work order effects

[2015-08-12 16:56] daniel-nagy commented on #73
dupe of #77

[2015-08-12 16:56] #73 closed

[2015-08-12 16:58] daniel-nagy commented on #77
Can you be more specific when you say the order effects stop working?

[2015-08-12 17:07] checherman commented on #77
It works great version 0.8.5

[2015-08-12 17:11] daniel-nagy commented on #77
Awesome!

[2015-08-12 17:11] #77 closed

[2015-08-12 18:22] daniel-nagy commented on #72
Is this still an issue for you?

[2015-08-12 18:25] jsenecal opened #79 "Multiple column ordering"
It would be nice if there was a possibility of sorting/ordering on more than one column at a time.

From JSON:API:

[2015-08-12 18:38] daniel-nagy commented on #79
Hmm... this might be tricky. It looks like `ng-repeat` supports ordering by multiple properties with the following syntax,

[code]

My first thought is, how do you control multi-column sorting in the UI in a way that is obvious to the user?

[2015-08-12 20:17] jsenecal commented on #79
In my case i'm ordering server side - does this make a difference to you ?

I was thinking that the order should be applied in the order it was clicked.

ie -> click name then id would sort by name then by id
if after that you re-click name, then you would sort by ID and then by name.

clicking twice the same thing would change ascending/descending.

[2015-08-12 20:38] daniel-nagy commented on #79
No, we just need to make sure it is compatible with `ng-repeat`. I think setting the `order` as an array of strings is fine. If the developer needs a different format for their query language they can just process the array in their `md-trigger` function.

The issue is, the user needs a way of controlling whether clicking a second column mean to sort using both columns or to only sort on the colum

[2015-08-13 15:44] ricardobfa opened #80 "creating columns with ngRepeat"
Well, thare is no errors in console.

reproduce: http://codepen.io/anon/pen/vOMWbq?editors=101

What i'm missing?

[2015-08-13 17:05] daniel-nagy commented on #80
You're not doing anything wrong, I'm doing something wrong. I'll have it fixed in a minute.

[2015-08-13 17:35] daniel-nagy commented on #80
Your [pen](http://codepen.io/anon/pen/vOMWbq?editors=101) should be working now.

[2015-08-13 18:20] ricardobfa commented on #80
Its working.

Will be a new release for this?

[2015-08-13 18:26] daniel-nagy commented on #80
I made a new release, [version 0.8.6](https://github.com/daniel-nagy/md-data-table/releases/tag/v0.8.6). Here is a link to the [change log](https://github.com/daniel-nagy/md-data-table#change-log). I'll need to modify the `mdColumnHeader` directive in the future to make sure something like this never happens again but it should be safe for now.

[2015-08-13 18:27] cupideias opened #81 "Selecting row don't updating array"
My select array updates only when I select all rows, clicking on the thead checkbox.

When I select or deselect direct on the row, the array don't update.

[2015-08-13 18:30] ricardobfa commented on #80
Cool, thanks.

[2015-08-13 18:46] daniel-nagy commented on #81
Oh, that sounds really bad. Does it only happen when you click on the row or is clicking the checkbox in the first column of the row broken as well?

Can you fork the [demo app](http://codepen.io/anon/pen/EjOobZ?editors=101) and reproduce this issue?

[2015-08-13 18:57] cupideias commented on #81
@daniel-nagy is the Angular-Meteor package outdated? Maybe this is the problem, I'm using it.

The `md-auto-select` here only works on `<tbody>`, for example.

[2015-08-13 19:08] daniel-nagy commented on #81
Yeah it sounds like you might be using an old version. Are you using bower to install this module or some other package manager?

if you're using bower and you always want the latest version you can do

[code]

or you can specify the tag of the version you want

[code]

[2015-08-13 19:13] cupideias commented on #81
I'm using Meteor package manager.
Is there a plan to update the Angular-Meteor package? If not, I will use bower instead.

Thanks for helping.

[2015-08-13 19:28] daniel-nagy commented on #81
Oh, I didn't know meteor had its own packaging system, I've never used it before and I certainly don't release packages for it. Someone else must of created a package for an older version?

[2015-08-13 19:34] cupideias commented on #81
Yes, the `angular-material-data-table` for Meteor was released at July 20 and never was updated.
You can se here: https://atmospherejs.com/dmgxmg/angular-material-data-table

Anyway, you can close this, but was not an actual issue. I installed using Bower and it works well.
By the way, great job done here, congratulations, it's very useful.

[2015-08-13 19:42] daniel-nagy commented on #81
I guess anyone in the community can create a meteor package for open source code. If you use meteor and want to maintain a package of this repository, you are more than welcome to do so. It appears other people are using it as well. I would think there would be a way to create a package so that it watches for updates when new version are released. If not, that would be a big flaw in meteors packag

[2015-08-13 19:42] #81 closed

[2015-08-13 19:42] #80 closed

[2015-08-13 19:42] #72 closed

[2015-08-13 19:51] cupideias commented on #81
I started learning and using Meteor a couple weeks ago, so by now I don't know how to create and maintain packages. In the future if no one have made that, I'll do. Thanks.

[2015-08-13 20:30] jsenecal commented on #79
I guess the CTRL + Click option is a good one, you could leave the actual explanation th the front end dev.

[2015-08-14 03:22] GrafRaf opened #82 "Header column multiplied when try change it"
Hi

http://codepen.io/anon/pen/MwRmXY?editors=101

On start table has 6 columns
  name, carbs, protein, sodium, calcium, iron

After i'm click DataSet1 ( try set columns to [name, type, calories, fat ] ) in table now 9 columns
  name, type, calories, fat, carbs, protein, sodium, calcium, iron

Then  i'm click DataSet2  ( try set columns to [name, carbs, protein, sodium, calcium, iron ] ) and in ta

[2015-08-14 11:11] daniel-nagy commented on #82
I working on making some changes to the `mdTableColumn` directive that should hopefully fix this.

[2015-08-14 11:23] ricardobfa opened #83 "change pagination md-label"
Cant put this to work.

Setting a inline label or from an object, the label dos not change, and if a put more then one word (white spaces), console will show some errors.

demo
http://codepen.io/anon/pen/vOMVRp?editors=101

[2015-08-14 11:32] daniel-nagy commented on #83
The [pagination](https://github.com/daniel-nagy/md-data-table#pagination) label is an object. I did this so non-english apps could also change the 'of' text. I've updated your [Pen](http://codepen.io/anon/pen/JdVmBW?editors=101)

[2015-08-14 11:45] ricardobfa commented on #83
Oh, right.

Thanks!

[2015-08-14 11:49] ricardobfa opened #84 "checkbox with angular 1.4.4"
To simulate this issue, select the checkbox that select all rows and uncheck a single row right after, using angular 1.4.4

http://codepen.io/anon/pen/mJgzQK?editors=101

[2015-08-14 11:54] daniel-nagy commented on #84
Oh wow, that's a problem.

[2015-08-14 12:20] daniel-nagy commented on #82
Please see version 0.8.7, your [Pen](http://codepen.io/anon/pen/MwRmXY?editors=101) should be working now.

[2015-08-14 12:20] #82 closed

[2015-08-14 12:21] #83 closed

[2015-08-14 13:13] gligoran commented on #84
I've just hit this problem as well, but it doesn't stop there. It gets weirder. Here's an example scenario using @ricardobfa's pen:

1. select all
2. uncheck one of the checked ones; *bug 1: select-all checkbox becomes unchecked, but the row's checkbox doesn't*
3. go to page 2 and back to page 1; *the unchecked item is not shown as unchecked*
4. click select all; *bug 2: all rows are checked, but

[2015-08-14 13:29] gligoran commented on #79
I'd suggest using a 3-state switch for sorting instead of a modifier key so it can be done on mobile devices as well. So it would go in this order: ascending, descending, no sort.

And the order of sorting is of course as @jsenecal suggested:

But it would be a nice thing to have some sort of a visual representation of this. A small number next to the sort arrow maybe, like the one mentioned here:

[2015-08-14 13:34] gligoran commented on #12
+1

[2015-08-14 13:37] gligoran commented on #38
This would be cool. Maybe something like Angular UI Bootstrap has: http://angular-ui.github.io/bootstrap/#/pagination Note how it works when you limit the maximum visible buttons.

[2015-08-14 13:41] daniel-nagy commented on #79
@gligoran the three-state switch is an option, not an option that I am very fond of but it would work on mobile where as the key + click option would not.

We can't necessarily enforce the [ascending, descending, no sort.] order. It may be beneficial for some applications to first sort descending so we would need to provide that as an option.

If we are concerned about multi-column sort on mobile

[2015-08-14 13:45] daniel-nagy commented on #38
I'm against the way bootstrap does pagination by displaying the page numbers, this does not work well on mobile. Instead I was planing on adding another drop down menu to select the page like how the 'rows per page' is selected.

This of course will be opted into via an additional attribute. I plan on removing the first and last page links by default and making them opted into as well.

[2015-08-14 13:46] gligoran opened #85 "Show '0 of 0' when there are no rows"
This is a minor issue, but makes it look buggy. When there are no rows, the pagination shows 1 - 0 of 0. Rather it should show 0 of 0.

[2015-08-14 13:53] gligoran commented on #38
OK, I understand about the bootstrap thing.

I do have another idea, though. What about replacing the '10-15 of 24' with 'Page 3 of 5' and then making the 3 a select like it is for per-row. Essentially I'm talking about how pagination works [here](http://linustechtips.com/main/topic/183-show-off-your-setup/page-249?), but without the bootstrap-like thingy and the click on page counter is an md-sel

[2015-08-14 13:54] GrafRaf commented on #82
All work fine
Thank you for nice component :-)

[2015-08-14 13:57] gligoran commented on #79
With the way things are developing everywhere at the moment, I think mobile should have the same capabilities as a desktop PC.

Of course that should be configurable, I was trying to show what I mean by 3-state.

[2015-08-14 14:00] daniel-nagy commented on #38
They might not know the page is selectable though unless we show a drop down arrow next to the current page number.

[2015-08-14 14:07] daniel-nagy commented on #79
I agree, I believe developing apps for mobile browsers is just as important as developing apps for desktop browsers. The irony though is that data tables are inherently bad for mobile devices. I really question, from a UX perspective, if tables should be used at all on mobile devices.

[2015-08-14 17:32] jsenecal commented on #79
@gligoran +1 for your tri-state idea - it seams like the perfect behavior.

[2015-08-14 17:47] vautrinr opened #86 "Ng-show not working on th"
Hi ! Awesome work, I am very impressed !!! :+1:

However, I am facing a little problem with the th and ng-show attribute : it's not working at all, the attribute seems to be removed...

Regards, Rémi

[2015-08-14 17:53] daniel-nagy commented on #86
Are you using the latest [version](https://github.com/daniel-nagy/md-data-table#change-log)? This should of been fixed in version 0.8.5

[2015-08-14 18:00] #86 closed

[2015-08-14 18:00] vautrinr commented on #86
Thanks so much !!!! It's working :) :+1:  :+1:  :+1:

[2015-08-15 14:30] vautrinr opened #87 "Responsive md-data-table"
Hello,
I have written a little code to make the md-data-table responsiveness looks like this one : http://filamentgroup.github.io/tablesaw/demo/swipe.html
If you're interrested, I could fork the repo and add my code, no jQuery needed.

Rémi

[2015-08-15 14:39] daniel-nagy commented on #87
The swipe and stack features look pretty neat. Do you have a demo?

[2015-08-15 14:45] vautrinr commented on #87
Not yet. Actually, I only made the swipe one. :/

[2015-08-15 14:47] daniel-nagy commented on #87
Okay, one problem with the swip is if tables scroll horizontally you may not be able to tell if the user is trying to scroll the table or swipe to the next page

[2015-08-15 15:36] vautrinr commented on #87
http://codepen.io/anon/pen/doLxgo?editors=101
I have added two buttons (the ng-icon doesn't seems to work though). on the top

The code is far away from perfect, I warn you, I am still a junior...

[2015-08-15 15:49] vautrinr opened #88 "Server side sorting"
Hello again,
How can I know if the table is sort ASC or DESC in case of a server sorting ?

Thanks,
Rémi

[2015-08-15 15:53] daniel-nagy commented on #88
If it is descending it will be prefixed with a minus `-` sign, a lot of query languages will recognize this to mean sort descending

[2015-08-15 15:55] vautrinr commented on #88
ok thanks :+1:

[2015-08-15 16:01] daniel-nagy commented on #87
I think something like this has potential. I'm sure some people would like to have this feature.

[2015-08-15 16:04] #88 closed

[2015-08-15 16:05] vautrinr commented on #87
So, I fork the repo ?

[2015-08-15 16:09] daniel-nagy commented on #87
You are more than welcome to fork the repo and add any features. Don't expect me to merge it into master until it is perfected though :)

[2015-08-15 16:10] vautrinr commented on #87
Ok, I'll improve my code this week, thanks :) :+1:

[2015-08-15 18:19] dmastag opened #89 "<th> with multiple rows"
I would like to achieve something like this

![image](https://cloud.githubusercontent.com/assets/5745805/9290203/0a2d1228-43b4-11e5-905c-d6b5923663bc.png)

But md-data-table is adding the all checklist on the Left
![image](https://cloud.githubusercontent.com/assets/5745805/9290222/a980888c-43b4-11e5-937a-b95228269005.png)

Weird thing is that this is not happening on this codepen.

http://codepen.

[2015-08-15 18:28] daniel-nagy commented on #89
Okay, I'm by the pool not getting sober. I shall have more to say tomorrow. :)

[2015-08-16 13:36] daniel-nagy commented on #89
Changes would need to be made to properly support multi-row headers. I think just placing the checkbox on the last row might be the best option.

[2015-08-16 13:43] dmastag commented on #89
That would work with me for the time being. I should afterwards be able to make the multi-row headers work for my use case myself using css.

[2015-08-16 13:58] daniel-nagy commented on #89
Okay, another thing is if you have numeric columns you will need to add the `numeric` attribute to all headers in that column in order for the cells to align properly. I think I will just use the last column again to control the alignment of cells in the body of the column but putting `numeric` on a column header in any row will still right align that cell.

[2015-08-16 14:10] dmastag commented on #89
Well, I am using colspan. How would that work out?

[2015-08-16 14:29] daniel-nagy commented on #89
Continue to use `colspan` that won't effect anything. I'm talking about the text alignment within an individual cell.

I figured out what I'm going to do, I'm going to add an optional attribute to the header that lets you specify the major row, if no row is specified it will default to the last row.

[2015-08-16 14:46] vautrinr commented on #87
I have a working example on my branch features/responsive from my repo. I would like to add the ng-show ng-hide animations and the ng-animate module. Do you see any problems with that?

[2015-08-16 14:53] daniel-nagy commented on #87
I don't have a problem with that, within the directive I would use `$injector.get('ngAnimate')` and if it is `null` just return. We don't want to force people to install extra dependencies.

[2015-08-16 14:57] daniel-nagy commented on #87
**Column Stacking**

I think it would be neat if the table collapsed into multiple cards on small devices. I see some potential issues with column ordering and pagination. Maybe we could add a separate card that controlled the ordering and pagination

[2015-08-16 15:23] vautrinr commented on #87
##ng animate
the fix for the awfull display is to include ng-animate, and to make this one in the css :
`.ng-hide-add, .ng-hide-add-active {
  display: none;
}`

Should I make a pull request?
##Column stacking
It's a great idea ! However I am still looking for how to do this.

Btw, do you intend to add this directive to the official repo ? :+1:

[2015-08-16 15:44] daniel-nagy commented on #87
If you think it's ready you can make a pull request and I will take a look at your code (probably not right away, maybe later today). Be sure to include documentation for how to use it.

There is this [pen](http://codepen.io/zavoloklom/pen/IGkDz) of someone attempting this in the past. I wouldn't require people to add attributes for the column names on cells in the body. This redundant and can be

[2015-08-16 16:36] vautrinr commented on #87
Ok, I'll make the doc, and after I'll make the pull request.

I meant on the official md-repo (the one held by google) ?

However, any critiques is more than welcome !! I still need to improve my coding style

[2015-08-16 17:01] daniel-nagy commented on #87
Oh sorry I didn't realize what you meant. I believe Google likes to begin a component internally before open sourcing it and allowing the community to improve it. So honestly I don't know. I think the data table component has been postponed till after the release of version 1.0.0. They may or may not have started working on it internally.

I think if they haven't started working on it yet, they ma

[2015-08-16 17:52] vautrinr commented on #87
Ok nice ! :+1:
Let's hope they will find you !

[2015-08-16 18:04] vautrinr commented on #87
<img width="265" alt="screen shot 2015-08-16 at 19 01 47" src="https://cloud.githubusercontent.com/assets/7830183/9294582/9856363e-4449-11e5-8504-1406818dab9d.png">

Indeed, the order could be a problem lol

[2015-08-16 21:03] daniel-nagy opened #90 "Column Padding on Columns Spanned Multiple Columns"
The padding on columns spanned multiple columns may be wrong. This is a limitation of using CSS child selectors to set the padding based on index. For now you can override the cells padding in your style sheet.

[2015-08-16 21:03] daniel-nagy commented on #89
You can control which row in the column header gets the checkbox in [version 0.8.8](https://github.com/daniel-nagy/md-data-table#change-log). I noticed an issue with using `colspan` though, see issue #90

[2015-08-16 21:04] #89 closed

[2015-08-17 11:06] Synturas opened #91 "Row issue"
There seems to be an issue with selecting the rows in this order (not only in ie):

![image](https://cloud.githubusercontent.com/assets/8062692/9303721/c246ffe0-44e0-11e5-8fca-54c260482bfb.png)

[2015-08-17 11:34] daniel-nagy commented on #91
What order are you selecting them in? What version of Angular are you using? Checkbox selection is known to be broken in Angular 1.4.4

[2015-08-17 12:30] Synturas commented on #91
The order is shown by the numbers in the picture below, notice that 1 doesn't click the select box, it hits the row, where 2 hits the select box.

[2015-08-17 13:07] daniel-nagy commented on #91
I was only able to reproduce this in Angular 1.4.4

[2015-08-17 13:49] daniel-nagy commented on #84
The logic for row selection seems to still be working but the `md-selected` class is not being applied appropriately. I think this issue may be internal to the `ng-class` directive. I've opened an issue for this on Angular's Github page, [#12601](https://github.com/angular/angular.js/issues/12601).

[2015-08-17 14:48] Synturas commented on #91
Okay, then nvm maybe i have been incorrect with my previous version number.

[2015-08-17 20:33] jsenecal opened #92 "Feature: Support for tabs"
Hi there,

I don't know if this is the right place to ask for this but anyways:
I'm looking to integrate md-data-table with tabs to filter the table data, and I'm wondering if there is a better way than creating 5+ tables in the same page.

Also, I would like the tabs to be in between `md-data-table-toolbar` and `md-data-table-container` but I dont know if it is possible to re-use `md-data-table-t

[2015-08-17 20:39] jsenecal commented on #12
+1

[2015-08-17 22:23] daniel-nagy commented on #92
If you use `ng-repeat` for column headers and table rows you should be able to just change the value of the variables you are looping over to change the content in the table. So you would only need one table.

I think what I would do in your situation is create a template for a table and use `ng-include` or some other template method to include the table in each one of your tabs. Something like,

[2015-08-18 08:27] mattdanna commented on #2
+1

Would love the ability to add in icons to table headers
![image](https://cloud.githubusercontent.com/assets/1121110/9325573/37515f6c-4548-11e5-88b1-528b3b37481e.png)

[2015-08-18 11:59] daniel-nagy commented on #2
Hmm the icons would be tricky. If we force the developer to register the icon with the `mdIconProvider` then maybe we can set the icon via an attribute. We would need multiple attributes really.

Maybe I should take a different approach to column headers and let the developer have more control over the template. I could do something like the `md-list` component where there are recommended template

[2015-08-18 12:07] daniel-nagy opened #93 "Table Progress"
I think I may have broken the `md-progress` attribute.

[2015-08-18 20:09] antoinebrault commented on #79
datatables and ui-grid are using shift-click for multiple column ordering/sorting.

On a click, sort list is cleared and only one column is sorted. On a shift-click, tri-state for the column is changed and column is added to the sort list if not present. state "no sort" removes the column from the sort list.

See:
https://datatables.net/examples/basic_init/multi_col_sort.html
http://ui-grid.info/d

[2015-08-18 20:28] daniel-nagy commented on #79
@antoinebrault shift-click will not work on devices without a keyboard. Maybe we could use a gesture on mobile? For example, double tap to add a column to the sort list.

[2015-08-19 02:51] colinshen opened #94 "client side pagination doesn't work"
[code]
i can see the number(pages) of the pagination changes but, the data doesn't change

[2015-08-19 11:30] daniel-nagy commented on #94
Unable to reproduce, what version of the data table and what version of Angular are you using? Can you reproduce this issue in the [Codepen](http://codepen.io/anon/pen/zGXWWp?editors=101)?

[2015-08-19 11:30] daniel-nagy commented on #91
dupe of #84

[2015-08-19 11:30] #91 closed

[2015-08-19 11:33] #43 closed

[2015-08-19 13:14] antoinebrault commented on #79
@daniel-nagy Yeah I think you could figure out something for mobile devices. However, I don't think you should restrict desktop features based on the fact that it's hard to use on mobile. Maybe you could support multiple column ordering in general, bind shift-click for desktop and make another issue to figure out later how to do it for mobile (switch, gesture, etc.)

[2015-08-19 13:31] daniel-nagy commented on #79
@antoinebrault That is probably what I will do, I just want to make sure when I (or someone else if they want :smiley:) develop this we isolate the logic from the actual method for triggering it so we can easily go back later and make it work with mobile.

We also need to think about how we are going to detect mobile devices without included additional libraries. Maybe checking for touch events on

[2015-08-19 13:45] gligoran commented on #79
Do you actually have to determine what kind of a device it is? I'm thinking that you could have both SHIFT click and double click/tap work side by side. This way you cover all devices without knowing their type and add desktop users an additional option how to multi-sort.

[2015-08-19 14:25] daniel-nagy commented on #79
@gligoran You wouldn't need to check for a specific device necessarily but I don't think it would be wise to register listeners for touch events if they are not defined in the browser. While it may not have much of an effect on performance, I think it would be better to not make the browser do more work than it needs to.

[2015-08-19 15:28] ozasadnyy opened #95 "Order trigger doesn't work"
Hello, I have met an issue with ordering.

When I click on column name it just does nothing, even order icon doesn't change.

Here is my code:
[code]

And controller:
[code]

[2015-08-19 15:33] dmastag commented on #95
HI @ozasadnyy ,
Could you try to replicate this on the codepen?
Here is the link http://codepen.io/anon/pen/zGXWWp?editors=101

Julian

[2015-08-19 16:12] ozasadnyy commented on #95
I have edited your codepen, and it's working. I have no idea why it doesn't work for me.. Can you suggest where to start looking for issue?

[2015-08-19 16:20] daniel-nagy commented on #95
[code]
is your search function on the scope?

[code]

[2015-08-19 18:19] daniel-nagy commented on #95
@ozasadnyy are you still having an issue with this? I didn't see in your controller you were assigning `vm.search = search`. I don't think it should matter that you are assigning it before you define it. Can you provide the link to your edited codepen?

[2015-08-19 18:35] henlz opened #96 "md-row-select is resetting atfer the table's content update"
I'm doing a server side pagination and when I load the next page, the previous selection is gone. An option to disable this selected itens cleaning would be nice.

[2015-08-19 18:52] daniel-nagy commented on #96
I don't think this would be wise. This means the user has the potential to modify stale data which could result in a data integrity violation. Although I suppose that just because the items are currently visible doesn't necessarily guard against this either.

I guess this is up for debate, I need a place I can take a poll. Maybe I will just offer a way to do this but disable it by default.

Anothe

[2015-08-19 22:03] loganfreeman opened #97 "can we hide the md-checkbox"
can we add an attribute so that we can remove the md-checkbox from the row

[2015-08-19 22:18] daniel-nagy commented on #97
Do you want to remove all checkboxes or just one? If just one, why would you want to remove just one?

[2015-08-20 06:20] shrutiaggarwal3012 commented on #97
i want to remove all checkboxes from the table.

[2015-08-20 06:31] dmastag commented on #97
Hi shrutiaggarwal3012,
You should be able to do this by removing md-row-select from your table as explained in #45.

Thanks
Julian

[2015-08-20 06:37] shrutiaggarwal3012 commented on #97
Yeah thanks i figured it out that's why deleted the comment.

[2015-08-20 08:14] ozasadnyy commented on #95
@daniel-nagy it's definitely defined, because it's triggers on pagination.
[code]

[2015-08-20 12:05] daniel-nagy commented on #95
@ozasadnyy I don't see anything wrong with your code. If you can use the un-minified version of the library, put a break point on line [31](https://github.com/daniel-nagy/md-data-table/blob/master/dist/md-data-table.js#L31) in the `setOrder` function. This is the function that should executed when a column header is clicked. Let me know if

1. This function is never called
2. `headCtrl` and `scope

[2015-08-20 12:06] #97 closed

[2015-08-20 12:07] daniel-nagy commented on #94
@colinshen are you still having issues with this?

[2015-08-20 12:12] daniel-nagy commented on #92
@jsenecal where you able to achieve your desired layout?

[2015-08-20 14:39] Soulcyber commented on #65
i vote against it too, it's very confusional and never seen it in a table in my entire life...

You are doing a great job, the only angular material table on the web which works very well, thanks ;)

[2015-08-20 14:46] daniel-nagy commented on #65
@Soulcyber Do you think selected items should always be cleared when navigating between pages, even when doing client side pagination? What about the select all functionality, do you think it should select all items or only visible items.

I really need more of a polling response on this to make a final decision. I think there are going to be people who want it both ways with valid arguments for w

[2015-08-20 14:50] ozasadnyy commented on #95
@daniel-nagy `headCtrl.pullTrigger` is undefined. Everything else is fine.

[2015-08-20 15:06] daniel-nagy opened #98 "Row Selection Behavior"
#### Row Selection Logic

I've been receiving some controversial request on how row selection should work. The main concern is whether or not the selection of items should persist between page navigation, that is to say, should the selection of non-visible items be aloud.

Here is how this is going to work, If you are in favor of allowing items to be selected when not visible then leave a comment

[2015-08-20 15:16] Soulcyber commented on #65
1- selection should be cleared after a page change
2- select all should select only the item in the current page (but this doesn't mean a bulk select all can't be added)
3- if you try some applications with an extensive tables use, the 99% will work as we said above.
4- if you really want add that functionality, i will do it after providing the default behavior and not starting from this in mind.

[2015-08-20 15:20] daniel-nagy commented on #65
@Soulcyber I've opened a new [issue](https://github.com/daniel-nagy/md-data-table/issues/98) to vote on this topic. Can you please post again there stating whether you are for or against the issue and any argument you may have to back up your reasoning.

[2015-08-20 15:24] Soulcyber commented on #98
-1

And these are my reasons:
1- selection should be cleared after a page change
2- select all should select only the items in the current page (but this doesn't mean a bulk select/delete all can't be added, but shouldn't be the default)
3- if you try some applications with an extensive tables use, the 99% will work as we said above.
4- if you really want add that functionality, i will do it after

[2015-08-20 15:24] Soulcyber commented on #65
done ;)

[2015-08-20 15:30] daniel-nagy commented on #65
I added your vote to the opposed column :)

[2015-08-20 15:36] daniel-nagy commented on #95
Okay this may be a scoping issue unique to your application. Can you now place a break point on line [330](https://github.com/daniel-nagy/md-data-table/blob/master/dist/md-data-table.js#L330)? it should say

[code]

and tell me if `scope.trigger` is defined. I suspect it is not which would mean that your `vm.search` function is not visible within scope of the `<thead>` element.

[2015-08-20 15:41] ozasadnyy commented on #95
'function postLink(scope, element, attrs, tableCtrl) ' doesn't even invoking.

[2015-08-20 15:46] daniel-nagy commented on #95
Okay wow, if you open the developer tools and look at the `thead` element does it have the `md-table-head` attribute?

[2015-08-20 15:50] daniel-nagy commented on #96
@henlz I'm going to close this issue, could please read and comment on issue #98?

[2015-08-20 15:50] #96 closed

[2015-08-20 15:51] daniel-nagy commented on #94
closing for inability to reproduce and lack of activity

[2015-08-20 15:51] #94 closed

[2015-08-20 15:54] ozasadnyy commented on #95
Yes, it has.

[2015-08-20 15:55] ozasadnyy commented on #95
Okay I have tried again it calls `function postLink(scope, element, attrs, tableCtrl)` once on initialization.

[2015-08-20 16:04] daniel-nagy commented on #95
okay, for whatever reason `home.search` is not defined in the scope of the `thead` element. I'm guessing you are using the `controller as` syntax, are there any new or isolated scopes between where this controller is defined and the data table?

I don't know if I will be able to debug this unless you can reproduce it in the codepen, it is important that you try to replicate the layout of your appl

[2015-08-20 16:08] ozasadnyy commented on #95
Yeah, I am using [new router](https://github.com/angular/router), which uses `controller as` syntax by default. No another controller is defined in that file. I am curious why `home.search` invokes in pagination...

[2015-08-20 16:22] daniel-nagy commented on #95
The pagination directive is outside the scope of the table and the table creates an isolated scope. The table doesn't actually need to create an isolated scope because I am using the `bindToController` syntax. I may need to remove its isolated scope. Can you try to reproduce this in the codepen? You don't need to pull in new router you can just create a controller that uses the `controller as` syn

[2015-08-20 18:56] jimmywarting commented on #98
What @Soulcyber says...
-1

[2015-08-20 19:44] jsenecal commented on #98
-1

[2015-08-20 19:46] jsenecal commented on #92
I'm actually working on this. So far it does not seem as trivial as explained mainly because of the expected behavior of tables in MD - They should be animated... I'll try to work on a plunker or something...

[2015-08-20 20:08] daniel-nagy commented on #92
If you can create a codepen I'll have a look at it. There is a ticket open for table transitions but I don't think I will have time to work on it in the near future.

[2015-08-20 20:44] apat183 commented on #98
+1
1 - Number of items selected can be displayed so not that confusing.
2 - Limit of displaying maximum 15 rows makes it hard to select over multiply pages (if you took the feature away)

I don't think it should be taken away instead just giving as an option. md-persistent-select=true (for maintaining selections over pages and md-select-all-page-only=false for changing the select all behavior etc.

[2015-08-20 20:57] apat183 opened #99 "Trigger on selection - enhancement"
I was thinking it would be useful to trigger a function on row selections.

Why? For example in my use case, I would like to update a chart based on selected items from the table. As I user selects more items, it would call the function to update charts.

Or is there a better way for me to implement this?

[2015-08-20 21:20] gligoran opened #100 "tfoot cells don't get numeric styling when using colspan"
I have a table with 9 columns. The last 3 use numeric in ```th``` tags. In ```tfoot``` I have a sum in these 3, but previous 6 are irrelevant (desc, name, etc.). If I use ```<td colspan="6">TOTAL</td>``` in ```tfoot``` to merge the first 6 columns, the last 3 don't have the numeric styling. I haven't looked at the code, but I'm guessing you're counting ```td```s, but don't take ```colspan```s into

[2015-08-20 21:21] daniel-nagy commented on #99
It depends, if you are not using auto selection you can just use `ng-click`.

[code]

If you are using auto selection then you can't because I'm using it :stuck_out_tongue_closed_eyes:.

I can probably, in the directive, register a click handler on the table row instead of consuming the `ng-click` directive so people can use both auto selection and `ng-click` to do their own thing.

[2015-08-20 21:24] twrk commented on #98
+1 - The fact that items 'off screen' are selected can be communicated with numerous UI hints - the pagination footer, and the table header toolbar. [Here's a screenshot](http://i.imgur.com/s6c8xMB.png) of how we use the table, we have way too many elements in our dataset to display at once so we're happy with this solution. And so far, the users have been too :)

[2015-08-20 21:25] daniel-nagy commented on #100
I think your assumption is completely correct. In the mean time you can explicitly add each `td` cell, I know this sucks. You could probably use `ng-repeat` to add as many cells as you need. Also related is issue #90.

[2015-08-20 21:29] gligoran commented on #98
At the moment, I'm using the select all as global, but I've almost deleted all my data because of global select all. On the other hand, it could be useful to be able to go through pages and select individual items as you move along.

I'm kind of on the fence, but clearing selection after each page isn't really that tough to do.

[2015-08-20 21:32] daniel-nagy commented on #98
@gligoran I would suggest a dialog to first confirm deleting all items :stuck_out_tongue_closed_eyes:

Good point I don't think there is anything stoping the developer from clearing the selected items on page change from within their controller.

[2015-08-20 21:34] apat183 commented on #99
Thanks but Im not using auto selection since I'm currently using the ng-click to open more details. 
I'm trying to allow users to click the item to display details (dialog) or click the checkboxes to select multiple rows to summaries and update chart. 
I guess I could put a watcher on the selection array for changes. 
Could something be called when the item is added/pushed to the selection/selecte

[2015-08-20 21:40] gligoran commented on #100
Actually it seems to break in the second row in ```tfoot``` regardless if ```colspan``` was used.

As for a workaround I find it nicer to manually set ```class="numeric"``` on those cells.

[2015-08-20 21:45] gligoran commented on #98
@daniel-nagy: Did that after those first few times. Thankfully everything is still in development, so nothing critical :)

[2015-08-20 21:46] daniel-nagy commented on #100
It looks like when I apply the numeric class to cells in the table footer it only works for the first row. I think we should maybe still apply the numeric class to those cells by default to ensure the layout of the table is preserved. If the developer really didn't want the text aligned to the right they can override it.

[2015-08-21 10:41] Soulcyber opened #101 "Prevent table from shrink height if last page as less element than page limit"
i have a table at the bottom of the viewport, i've configured the page limit to 10, if i have 11 elements in my list, when i switch between pages i have to scroll down every time i go from page 2 to page 1.

is there a feature for fix the height of the table to stay the same even if the next page contains less elements?

Thanks

[2015-08-21 10:56] Soulcyber opened #102 "Documentation for $nutrition"
In the Usage and Installation section of the README, there is no mention to $nutrition, which you then add as dependency in the example controller.

[2015-08-21 11:30] daniel-nagy commented on #101
There is no feature currently

[2015-08-21 11:38] daniel-nagy commented on #102
`$nutrition` is just an Angular service I wrote for the demo application to communicate with the nutrition database. It is an example of how you can grab data from the server when the user interacts with the table. The actual contents of the `$nutrition` service are irrelevant but you can always look at the [source code](https://github.com/daniel-nagy/md-data-table/blob/gh-pages/scripts/nutritionR

[2015-08-21 11:38] #102 closed

[2015-08-21 11:42] dmastag commented on #101
Hi @Soulcyber ,
A workaround would be to use another Div to wrap the Footer and have that be fixed.

[2015-08-21 15:36] shrutiaggarwal3012 opened #103 "some collapsible content for each row, is it possible ?"
Ca we have collapsible content for each row?

[2015-08-21 20:43] twrk commented on #84
+1

[2015-08-23 08:30] pavelhoral commented on #84
It seems that you are controlling `checked` state with a CSS class.

    checkbox.attr('ng-class', '[mdClasses, {\'md-checked\': isSelected(' + ngRepeat.item + ')}]');

That seems like an anti-pattern to me and Angular can not be held responsible for instability of this approach.

I was able to make it work by switching to `ngChecked`:

    checkbox.attr('ng-class', 'mdClasses');
    checkbox.attr

[2015-08-23 14:03] pavelhoral commented on #93
Table controller is watching on incorrect attribute [`tableCtrl`](https://github.com/daniel-nagy/md-data-table/blob/master/app/md-data-table/scripts/mdDataTable.js#L73) where the controller is currently named [`$mdDataTableCtrl`](https://github.com/daniel-nagy/md-data-table/blob/master/app/md-data-table/scripts/mdDataTable.js#L135).

[2015-08-23 14:27] #84 closed

[2015-08-23 14:28] daniel-nagy commented on #93
Ah yes, I renamed the controllers in the last update. Thank you for finding this!

[2015-08-23 14:33] #93 closed

[2015-08-23 18:12] soniram opened #106 "Is column width definable ?"
How can I define deferring column widths ?

[2015-08-24 14:54] daniel-nagy commented on #106
You can do this easily with CSS.

[code]
 You could also slap a CSS class on the cell and set it's min / max width. Currently there is no way to do this in the module.

[2015-08-24 14:55] daniel-nagy commented on #103
You want to collapses an entire row? I don't know that this would be a high priority for this module.

[2015-08-24 16:19] jazalizil commented on #93
Are you sure that it is fixed ? I cloned this code today and it seems like it's still broken

[2015-08-24 16:44] daniel-nagy commented on #93
@jazalizil I just did a fresh clone of the repo and verified this is working. If you click the button in the table footer that says trigger outside event you should see the progress indicator. If this is not the case, please let me know.

[2015-08-24 16:47] jazalizil commented on #93
Yes it works in this case, but not when I pass a promise as the md-progress attribute  on a table.

[2015-08-24 16:52] daniel-nagy commented on #93
That is exactly what the button is doing if you look at the source code for the nutrition controller.

[code]

[code]

[2015-08-24 16:54] shrutiaggarwal3012 commented on #103
I mean to say extra content can be collapsible for each row, just like nested table.

[2015-08-24 17:01] daniel-nagy commented on #103
I'm not sure what you mean, can you provide a link to an explanation of this feature or a demo? If you just want to conditionally show more content in a cell you can use `ng-if` or `ng-show`.

[2015-08-24 18:14] soniram commented on #106
Thanks Daniel !

[2015-08-24 18:14] #106 closed

[2015-08-24 18:41] stavro commented on #103
Here is a basic example of what @shrutiaggarwal3012 is referring to:

* http://www.bootply.com/fdTMNTiLis
* http://jsfiddle.net/headwinds/zz3ch/

An expandable section underneath each row which may contain additional details.  Not necessarily in one particular cell, but across the entire row.

[2015-08-24 19:14] jsenecal commented on #92
So, after playing a bit with this, I realized that your examples are actually creating the tables in the DOM. What I was trying to achieve is to have the actual data source change with the tabs but keep the table. I also wanted to keep the swipe left/right animations.

The tabs im my implementation are actually to trigger some filtering on the server side so the table headers are staying the same.

[2015-08-24 19:35] jsenecal commented on #92
also, I dont think you can add a controller to an <md-tab>:

[2015-08-24 20:18] jsenecal commented on #92
Also, putting the table inside an `<md-table>` throws an error... see: http://codepen.io/anon/pen/gpVxPE?editors=101

[2015-08-24 20:37] daniel-nagy commented on #92
I don't believe this is possible using only one table. As you switch tabs the template will change allowing for the swipe gesture and triggering the animation. Which is why I suggested creating a template for a table then using `ng-include` to inject it into each tab. If you really wanted to use only one table you would have to use tabs as normal buttons and forgo the swipe and animation features.

[2015-08-24 20:47] daniel-nagy commented on #103
This can probably be achieve pretty trivially using `ng-show` or `ng-if` on a table row and putting a button or icon in the first column of the row above it.

[code]

Making it animate nicely may be less trivial. I'm not sure if this has a place in this module or not. If you are using auto row selection you will probably want to stop propagation when the cell is click so the row is not selected.

[2015-08-24 20:54] jsenecal commented on #92
Thanks @daniel-nagy, I<m going to try what has been done [here](http://stackoverflow.com/questions/27221222/separate-controller-per-tab-in-angular-material-w-ui-router) and see if its going to work for that use-case as well.

[2015-08-24 23:19] dleitee opened #107 "order by type asc or desc"
The request should send a parameter to the type of order.

Example:
http://localhost/api/v1/users?filter=&limit=10&order=name&ordertype=asc&page=1

[2015-08-24 23:36] daniel-nagy commented on #107
If your query language doesn't recognize the minus `-` sign to mean descending then you can just parse the string in your trigger function and send an additional parameter.

[code]

This module doesn't send requests to the server for you.

[2015-08-25 00:25] #107 closed

[2015-08-25 12:15] kitensei opened #108 "md-auto-select not working"
Maybe I haven't understood how auto-select work, but in the demo if I remove `md-row-select="vm.selected"` and keep `md-auto-select` the selection doesn't work.

Is it possible to select an item without checkboxes displayed, and update the "selection array" anyway ?

[2015-08-25 12:44] daniel-nagy commented on #108
Auto selection will only work if row selection is first enabled. Having row selection enable will always add the checkboxes so this is currently not possible. Why would you want to get rid of the checkboxes? They are a good visual aid for the user and I think most users would like to have them. Did you have a client specifically ask to have them removed and did they give a reason?

[2015-08-25 12:51] kitensei commented on #108
What I'd like to achieve is to disable multiple selection, doing so the checkboxes becomes useless.

Is this possible with the current release ?

[2015-08-25 13:18] daniel-nagy commented on #108
This is not possible at the moment. I think the general philosophy behind the data table is to allow users to efficiently manipulate large data sets. Being limited to only selecting one row at a time sorta defeats this purpose in my opinion.

Selecting one item at a time is somewhat trivial and you could probably achieve this on you own pretty easily using `ng-click` and `ng-class` on a row. You w

[2015-08-25 18:27] kevindstanley1988 opened #109 "Infinite Scroll feature"
Hi, it would be a great feature for mobile to allow for infinite scroll. This table works great for mobile already except for the user ease of use in pagination, this is more irritating on mobile than it is on desktop and infinite scroll + this perfect material look would be a killer combo.

[2015-08-25 18:49] daniel-nagy commented on #109
You are not forced to use pagination if you do not want to. I'm not completely sure what you are requesting. Are you suggesting a lazy load type feature? Where more content is fetched from the server as the user scrolls down?

[2015-08-25 20:19] kevindstanley1988 commented on #109
Yes that is exactly what I am requesting! For example, initially load 10 items, when the user scrolls and gets near the bottom of the list, start loading 10 more items and append to the list, then continue to do so until all items have been scrolled through. I haven't thought much into it, but I guess really this could be done by adding a function trigger for "ScrolledNearBottom" like the other tr

[2015-08-25 20:54] daniel-nagy commented on #109
This is a pretty good idea, I think I could probably check if the bottom of the table is visible in the viewport and fire off some sort of event.

[2015-08-25 20:57] kevindstanley1988 opened #111 "Template on table body or table header removes the selected checkboxes"
I have provided a codepen for the example of this issue. This example is totally out of context of use, but I think you will get what I am trying to accomplish by templating out the header/body of the table.
http://codepen.io/anon/pen/doxQvv?editors=101

First I took the body of the table anything between the <tr>'s in the body and put it in a <script type="text/ng-template" id="template1.htm"> ta

[2015-08-26 14:07] daniel-nagy commented on #111
Thank you for the pen, clearly there is a conflict with `ng-include`. I will investigate this when I have time.

[2015-08-26 15:18] hm1984ir opened #112 "md-progress probem when we use md-data-table in a md-tab"
I have a problem when I use md-table within an md-tab.
md-tab runs a digest loop before md-progress directive is compiled and subsequently adds showProgress and hideProgress functions to md-data-table controller.
This causes an error stating that showProgress is not a function.

this is my workaround:

add two functions and two flags to md-data-table controller :(mdDataTable.js)
 self.hideProgress

[2015-08-26 17:08] daniel-nagy commented on #112
This is a known issue and is not harmful. Your solution may be good but I don't know if it will work out of the box as you described. I think it may be just as good to just check if the function is defined before calling. This would introduce an extra comparison every time the function is called so it would be a trade off between time complexity and space complexity. Although your solution would i

[2015-08-26 19:56] dleitee opened #113 "There is some css class for secondary functions?"
Example: [Image](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B3mOPoJlxiFhazJZa2VmSU5ldTQ/components_datatables_interaction_editing4.png) from [Google Material - Data Tables](https://www.google.com/design/spec/components/data-tables.html#data-tables-interaction)

[2015-08-26 21:14] scottsilvi opened #114 "Classes added to <th> elements not persisting to compiled th."
Will submit a PR shortly.

[2015-08-26 21:46] daniel-nagy commented on #114
Were you using the latest version of the module when you tested this? As of version 0.8.7 any attributes you place on the `th` element should be preserved. In fact, I just tested adding a class to the `th` element and it is still there.

[2015-08-26 21:52] daniel-nagy commented on #113
I have not yet worked on any type of cell editing. This is a high priority issue; however, so hopefully I will get a chance to work on it in the near future.

[2015-08-26 22:29] jwmay2012 opened #116 "Scrollable rows; fixed table height"
Currently the whole table grows with the number of rows.
I would love the ability to have the table take up a fixed space or flex to the page while the content rows become scrollable. This can almost be achieved with the right combination of layout-fill's and layout's but I can't get the <thead> to remain stationary while the data scrolls.
If I make <thead> position: absolute it breaks the spacing

[2015-08-26 22:48] daniel-nagy commented on #116
You should be able to make the `md-data-table-container` element scroll vertically, either by setting a max height on it or flexing it so it can grow and shrink with the screen.

If you want the rows to scroll vertically while the header remains fixed, this is not something that can be achieved using HTML and CSS alone. This is actually something that is very difficult to do. I wrote an Angular mo

[2015-08-26 23:00] dleitee commented on #113
Of course. If you need help, you might collaborate.
Thank you

[2015-08-26 23:00] #113 closed

[2015-08-28 20:05] gaboAcosta commented on #62
Sorry I did not answer before, I see this on a Galaxy Note 4 using Android 5.0.1 on chrome, not using Google Mobile.

[2015-08-28 21:55] luisfontes commented on #98
-1

[2015-08-29 11:33] jonarobi opened #117 "Ordering not working as expected"
The reordering event 'md-trigger' gets triggered before the binded property 'order-by' gets updated. As a result, the reordering does not take place on the first click and the results are always one behind thereafter. This is happening in the current demo.

[2015-08-29 12:27] daniel-nagy commented on #117
I noticed this a few days ago. I explicitly wrap the trigger function in a timeout to wait for the next digest in the [setOrder](https://github.com/daniel-nagy/md-data-table/blob/master/app/md-data-table/scripts/mdColumnHeader.js#L28) function so I'm not sure why the scope is still stale when the function gets called.

One thing that has changed is I'm no longer using `ng-click` and instead I'm us

[2015-08-30 10:26] ozasadnyy commented on #95
After bower_components updating it has started to work. Thanks for you help.

[2015-08-30 10:26] #95 closed

[2015-08-30 14:31] adegasp opened #118 "Select just one row"
I need to allow the selection of a row per time (as radio buttons instead of check boxes). This is not allowed?

[2015-08-31 12:16] daniel-nagy commented on #118
This module does not provide this functionality. You may read my last post for issue #108 for an idea of how you might be able to achieve this on your own without out much difficulty.

[2015-08-31 19:38] videege opened #119 "Client-side ordering doesn't work without md-trigger"
Hello,

I noticed that when I'm trying to do client-side ordering, I must provide an md-trigger attribute or else the orderBy target isn't updated until I trigger a digest elsewhere on the page (for example, by selecting a row).  Here's the code setup (with the `noop` function for the trigger):

    <md-data-table-container>
                <table md-data-table md-row-select="vm.selected">

[2015-08-31 20:16] daniel-nagy commented on #119
No this is not intentional. I think after switching from using `ng-click` to `element.on('click')` I need to force a digest using `scope.$apply`. #117 related. I will try to do this tonight.

[2015-09-01 00:14] #114 closed

[2015-09-01 00:19] daniel-nagy commented on #119
@videege can you please confirm that v0.8.10 solves this issue?

[2015-09-01 00:19] daniel-nagy commented on #117
@jonarobi can you please confirm that v0.8.10 solves this issue?

[2015-09-01 02:25] jonarobi commented on #117
Yup! It's working for me now.
Thanks a lot.

[2015-09-01 16:14] videege commented on #119
@daniel-nagy Looks good now, thanks for the quick fix!

[2015-09-01 16:14] #119 closed

[2015-09-01 16:22] leseulsteve opened #120 "Select only filtered results when clicking on the 'select all' checkbox"
When there's filters applied on the ng-repeat directive in the table, even the 'filtered-out' lines are selected when we click on the select-all checkbox

![untitled](https://cloud.githubusercontent.com/assets/6606025/9609865/18da9adc-50a4-11e5-893a-a5586e0f93d5.png)

[2015-09-01 16:30] #117 closed

[2015-09-01 16:35] daniel-nagy commented on #120
That's a problem! Some changes will need to be made to make sure filtered items are not selected.

[2015-09-02 13:50] srikrishnacj commented on #98
+1 This is very important for me...

Please add an option to table how that clearing selection should work and lets user decide it. like
<table clear-on-pagging="true"> will clear the selection when moved to next page
<table clear-on-pagging="false"> will not clear the selection when moved to next page

[2015-09-02 19:57] leseulsteve commented on #120
You know what? I think the problem was on my side... I refracted how I use your amazing lib, and I can't reproduce it!! :)

Sorry about that!

[2015-09-02 20:19] activedecay commented on #98
0: on the fence

I'm on the fence because the question is unclear :)

Preseve the user's selection until they change it. Pagination does not have the affordance of a "selection changing control".

If the question is "should selection be preserved across pagination changes", this is how gmail works. If you select something, pagination changes don't affect your selection.

However, I'm with @Soulcyb

[2015-09-04 04:00] brownish opened #121 "Browserify Support"
I would love to see support for browserify as I can't for the life of me get it to work with it.

Thanks!

[2015-09-04 11:30] williamweckl opened #122 "Angular and Angular material fixed version"
Can you consider to unfix version of angular and angular-material?

Both libs are updating constantly, today I wanted to test the new 0.11.0.rc2 version of angular-material and could not. Angular is in 1.4.5 too.

[2015-09-04 12:45] daniel-nagy commented on #121
I think Browserify is intended for CommonJS modules (i.e. packages installed using npm that use the `module.exports` syntax) in your web application. Using Browserify to import angular modules is unnecessary because Angular already has a module system, `angular.module`. Here is a good [article](http://benclinkinbeard.com/posts/how-browserify-works/) on how Browserify works and might give you some

[2015-09-04 12:48] daniel-nagy commented on #122
What do you mean unfix? I have no control over what versions of Angular or Angular Material you use in your application.

[2015-09-04 13:00] williamweckl commented on #122
[code]
So I'm trying to use angular 1.4.5 and angular-material 0.11.0.rc2.

[2015-09-04 13:11] daniel-nagy commented on #122
So change the version and do a bower update?

[code]

[2015-09-04 13:36] williamweckl commented on #122
I understand. Will explain me better.

I'm not using bower directly, I'm working on a ruby on rails project and for js libs dependencies I'm using this guy: [rails-assets][1].

He does a bridge between bower and rails gems.

With this tool I can't just touch lib files. So yes, I could use bower directly and change the file. But, I'm using so many other libs that are not with angular version fixed.

[2015-09-04 13:39] williamweckl commented on #122
By the way, it's an amazing lib. All working fine and as expected. Congratulations for the job done. =)

[2015-09-04 14:11] daniel-nagy commented on #122
I can add ranges to the versions, I will do this shortly (after class).

Thanks! I wish I had more time to work on this so I could finish up some of the missing features. I have so much coding to do between classes and work. Usually by the time I finish that I don't want to write code anymore haha.

[2015-09-04 14:35] Soulcyber opened #123 "fixed column width"
i have a list of data, with variable string value, i noticed that after a page change where is a long cell value with a cell larger than the page before, the table resizes the columns width which means a very bad visual experience when there are a lot of pages to navigate
CodePen here: http://codepen.io/anon/pen/ojgqxr
change page to see what i mean

Is there a way to fix the column width to a cer

[2015-09-04 15:13] daniel-nagy commented on #122
I've changed the dependencies to

[code]

This should match both Angular v1.4.5 and Angular Material v0.11.0-rc2, if it does not let me know.

[2015-09-04 15:32] daniel-nagy commented on #123
You can do this with css.

[code]

Or you can use a CSS class.

[code]

[2015-09-04 15:48] daniel-nagy commented on #123
When I do this in the [Codepen](http://codepen.io/anon/pen/NGPYJY) it bleeds into the neighboring cell; however, when I do it locally it works as expected and wraps the text within the cell. Let me know if this works or not for you.

[2015-09-04 16:05] Soulcyber commented on #123
[code]
this seems to fix the problem, i will test it more when i'll have time :)

a big thanks for now :+1:

[2015-09-04 16:27] #123 closed

[2015-09-04 16:28] brownish commented on #121
Angular and Angular-Material have both [introduced support for browserify](http://blog.npmjs.org/post/114584444410/using-angulars-new-improved-browserify-support). I see your point though, angular itself adds quite a bit of complexity. I've modified [angular-gulp-browserify-boilerplate](https://github.com/jakemmarsh/angularjs-gulp-browserify-boilerplate) to fit my project and after a day of muckin

[2015-09-04 16:37] williamweckl commented on #122
Thank you!

Can you make a release with this changes?

[2015-09-04 17:55] daniel-nagy commented on #121
I can put an `index.js` file in the root of the project.

[code]

Does the package need to be registered with npm for this to work, i.e. the ability to do

`npm install angular-material-data-table --save`

or will it also work if the package is install using Bower or some other method.

[2015-09-04 20:42] brownish commented on #121
I'm not entirely sure, lol. I looked into it yesterday and couldn't find a guide that explicitly detailed the process.

I was able to install it via npm with `npm install daniel-nagy/md-data-table`. It didn't work with browserify, though.

I'll look into it and let you know what i can find out.

[2015-09-04 21:55] brownish commented on #121
Found this [article](https://medium.com/@kentcdodds/how-to-distribute-your-angularjs-module-e04d4dd58ddc) by Kent C. Dodds.
If I understand it correctly, you need to add dependencies, and main to package.json like so:

[code]

Then, in your gruntfile, you can probably add a task to build to commonjs, as mentioned in that article. That task would build the dist/md-data-table.js pretty much the same

[2015-09-04 22:54] daniel-nagy commented on #121
If I am understanding correctly how to use Browserify, you execute a command and it packages everything up into one file before anything get shipped to the browser. Therefore putting logic in the module to be executed in the browser to test whether `angular` or `module` is defined is complete overkill and I don't see how this assists with Browserify in any way.

The first article you linked to, [U

[2015-09-04 23:18] brownish commented on #121
I think that first module-checking code is just there so you dont need to rebuild for bower or npm or whatever. I believe you can use one grunt task to build and publish to bower and another to publish to npm so each one has a corresponding dist/md-data-table.js without needing the check. For the `require('dist/md-data-table');` to work in the index.js `dist/md-data-table` needs to export somethin

[2015-09-04 23:33] daniel-nagy commented on #121
Ah you may be right. I'll have to try it and see.

[2015-09-04 23:34] brownish commented on #121
Great. Thanks!

[2015-09-07 00:47] daniel-nagy commented on #122
@williamweckl sorry I've been away from my computer the past two days. I just created a release but I changed the dependencies to

[code]

Let me know if this doesn't let you install Angular Material 0.11.0-rc2, if it does please close this issue. :)

[2015-09-07 00:50] daniel-nagy commented on #121
@brownish sorry I've been away from my computer the past couple days. I was correct, using `require` on a file that doesn't export anything must just concatenate the file or maybe this is something unique that Browserify does. Anyway this should work now and I've updated the installation instructions for [using npm and Browserify](https://github.com/daniel-nagy/md-data-table#using-npm-and-browseri

[2015-09-07 00:50] #121 closed

[2015-09-07 01:02] #120 closed

[2015-09-07 02:42] brownish commented on #121
@daniel-nagy `npm install --save angular-material-data-table` returns:

`Registry returned 404 for GET on https://registry.npmjs.org/angular-material-data-table`

You published it to the npm registry and don't have it marked private in the package.json?

[2015-09-07 02:46] daniel-nagy commented on #121
oops no, it should be `npm install daniel-nagy/md-data-table` still. I'll fix the README.

[2015-09-07 03:15] brownish commented on #121
I got it to install but but adding `require('angular-material-data-table')` doesn't seem to be working. I'm trying to see if it's on my end.

[2015-09-07 03:20] daniel-nagy commented on #121
Okay, I didn't try to execute it in the browser I just saw that it was grabbing the module in the generated file. If you can't get it to work I'll look into it some more tomorrow.

[2015-09-07 03:23] brownish commented on #121
Thanks. I'm not sure what's going on. I'll play around with it and see what I can do.

[2015-09-07 14:02] daniel-nagy commented on #121
I was able to get this working in the demo app without any problems. My `app.js` looked like this.

[code]

Then I just ran Browserify to create a file called `bundle.js`

`node_modules/.bin/browserify app.js -o bundle.js`

and included that in my `index.html`

[code]

[2015-09-07 22:10] brownish commented on #121
Interesting. Must be on my end. I was redesigning my site over the weekend and I'm just about to reimplement the tables. I'll let you know if I have any troubles.

[2015-09-07 23:01] sunocean-sand opened #126 "Random rows being selected with ng-repeat and md-row-select"
I'm using md-data-table with ng-repeat to display item for different objects.

The only problem I'm having is that when I select an item under an object, it automatically selects other random rows that I did not click on. Is anyone else having the same problem?

[2015-09-08 11:19] williamweckl commented on #122
Worked! Thank you!

[2015-09-08 13:53] daniel-nagy commented on #126
@sunocean-sand can you fork the [codepen](http://codepen.io/anon/pen/zGXWWp?editors=101) and try to reproduce this issue?

[2015-09-08 14:09] hmiguel opened #127 "Show/Hide Columns"
It's possible to add a filter that hide or unhide the selected column fields? Thanks!

Example here: https://www.filamentgroup.com/examples/rwd-table-patterns/ (display button)

[2015-09-08 14:31] daniel-nagy commented on #127
This should be possible. The way I think I would do it is put an `ng-if` or `ng-show` on the column header and corresponding column body cells. Then you can use a drop down menu or some other menu to toggle the visibility of a particular column.

[code]

[2015-09-08 17:13] mrcel opened #128 "Using online demo"
I want to use the demo (http://danielnagy.me/md-data-table/) in a project and feed it with my own data. I added the custom app.css and also tried to use the nutritionController but my result is as shown below. Where is the error?
![screenshot from 2015-09-08 19 09 38](https://cloud.githubusercontent.com/assets/13166067/9741910/685590d0-565d-11e5-9849-44e4efc40ee3.png)

[2015-09-08 17:40] daniel-nagy commented on #128
Its hard to say without looking at any code, are there any errors in the browser's console? Coping my code verbatim will not just magically work, you'll need to modify it to handle your data. I would recommend trying to understand how the demo application works so you can modify it to fit your needs.

[2015-09-09 07:30] ravshansbox opened #129 "Publish to npm registry."

[2015-09-09 08:02] mrcel commented on #128
I figured out that the templates.md-data-table-progress.html and templates.md-data-table-pagination.html  fail to load. I added them in the correct directory, and I also tried to change them to different directories. But it does not work.

[2015-09-09 08:22] #128 closed

[2015-09-09 13:35] daniel-nagy commented on #129
Done.

[2015-09-09 13:35] #129 closed

[2015-09-09 17:13] sunocean-sand commented on #126
@daniel-nagy Yes I will! In the process of trying to reproduce it..

[2015-09-09 18:58] andrewburgess opened #130 "Initialize Table to Specific Page"
Is it possible to initialize the table to a specific page? It seems to always jump to the first page, despite what value I'm passing into the pagination directive.

[2015-09-09 21:02] williamweckl commented on #122
@daniel-nagy I'm sorry but with the stable 0.11.0 version of angular material it's not working again. Can you fix it?

[2015-09-10 12:09] mrcel opened #131 "add button to table row in order to open a dialog"
Hello,
I want to add a button into each table row in order to open a dialog on click. But if I add the button inside/outside the last <td></td> column, it can not be clicked. Instead, the row is selected. Is there any solution to implement the described behavior?
Thank you, best, Marcel

[2015-09-10 13:21] daniel-nagy commented on #131
You'll need to stop the event from propagating when the cell is clicked.

[code]

[2015-09-10 13:33] Comtravo commented on #131
It works - you made my day! Thanks

[2015-09-10 13:34] mrcel commented on #131
It works - you made my day! Thanks

[2015-09-10 13:34] #131 closed

[2015-09-11 00:16] desaurabh opened #132 "Toggle All returns empty array"
Hello i just landed in a weird scenario, the problem i was facing with the `toggleAll()`.

<h3>Situation</h3>

I've assigned variable name "selected" for `md-row-select` attribute and in the controller this `selected` array comes under the `$scope` variable.

<h3>Issue</h3>

Case 1: This works perfectly fine while selecting each list item separately, it fills the `selected` array with appropriate

[2015-09-11 09:28] duongtdvn commented on #41
Sorry for digging this up but I'm currently had an weird issue with the checkbox. Please take a look at this codepen which using the solution two: http://codepen.io/duongtd/full/Qjjadm

[2015-09-11 13:47] daniel-nagy commented on #41
You're not using solution two correctly. You're using the same array to select items in both tables. You need to either attach the array to the objects you're repeating over or create a separate object of arrays and index them by key.

[code]

[code]

[2015-09-11 14:21] daniel-nagy commented on #132
I'm a little confused as to whats going on. I've created this [pen](http://codepen.io/anon/pen/JYYvjq?editors=101) that will log the selected items to the console from within the controller and it appears to be working fine.

I'll investigate this more when I have time.

[2015-09-11 16:13] duongtdvn commented on #41
Thank you, I have tried with the selected[key] before, but I have no idea about the controller since the <code>key</code> is dynamically.

[2015-09-12 02:14] duongtdvn commented on #41
I'm just modified the code a little bit so the selected[key] will match the key in the controller since it is dynamically. However i met this error:
<pre>Cannot set property 'eligendi' of undefined</pre>
can you please take a look? http://codepen.io/duongtd/pen/Qjjadm?editors=101

[2015-09-13 03:01] duongtdvn commented on #41
Okay, I got it fixed! Instead of create the groupBy in the view, I made it in the controller and then do the ngRepeat in the view.
http://codepen.io/duongtd/full/Qjjadm
Hope someone if facing issue like me find the solution.

[2015-09-16 01:44] apat183 opened #133 "Using Track by object.id or $index breaks sort and limit"
Hi,

I've noticed that when I use track by on my ng-repeat, it breaks sorting and page limits.

Here is demo modified to use track by object.id. All I did to demo was add id's to all the data objects and add track by id on the ng-repeat.

http://codepen.io/anon/pen/dYGaXN?editors=101

Am I doing something wrong?

Thanks.

[2015-09-16 15:45] lucalenardi opened #134 "Getting double extension importing via jspm"
It seems that loading the module with jspm, generates an exception due to the **extension being added twice**; server responds with `Cannot GET /jspm_packages/github/daniel-nagy/md-data-table@0.8.11/dist/md-data-table.min.js.js`

Removing a `.js` in [index.js#L4](https://github.com/daniel-nagy/md-data-table/blob/master/index.js#L4) actually solves the problem for jspm, but I do not know if it brak

[2015-09-16 18:27] nestorbritez opened #135 "Table background is hardcoded"
Currently the table's background is hardcoded to white.
[code]
According to angular material this should follow the same style of md-content (A100) configured in `backgroundPalette`

[2015-09-20 19:31] daniel81bcn commented on #109
The table already works pretty well using `md-virtual-repeat-container`, there are just some issues because it expects `ng-repeat` instead of `md-virtual-repeat`. I'm gonna try to make it work and send a PR. BTW great work!
[code]

[2015-09-21 09:50] corneschouten commented on #5
+1

You can use md-tooltip for the implementation of this.

[2015-09-22 08:21] webpartisan commented on #98
-1

[2015-09-22 16:41] mrcel opened #136 "Pagination back & forth does not work"
My md-data-table is running almost perfectly. Unfortunately, it is not possible to go back and forth in the pagination. Switching from 5 to 10 or even 15 elements per page is not a problem. And also the number of all elements is not displayed:

<img width="464" alt="bildschirmfoto 2015-09-22 um 18 39 22" src="https://cloud.githubusercontent.com/assets/13166067/10024880/7d3b47cc-6159-11e5-94a8-1a9e

[2015-09-23 07:00] marcoriesco commented on #136
Try {{desserts.length}}

My example: md-total="{{items._size}}"

[2015-09-23 07:08] mrcel commented on #136
{{desserts.length}} works for me! Thank you!
Do you know if .length works as a method to get size of desserts? Or is it a variable?
Best,
Marcel

[2015-09-23 14:08] marcoriesco commented on #136
In my case, I had to change the routine of example, and I use an api with HAL, is called restheart.It depends largely on the api and routine that you apply your resources.

In your case you keep the sample intact?

[2015-09-24 14:10] tazaka opened #137 "Select Row on Load"
Can i select rows during inicialization table?
if i has $scope.selected = [{id:1,name:'test1'}] , row in table is not selected ... is it possible ?

[2015-09-24 14:35] tazaka commented on #137
unsystematic but functional:

line 661 >
for (var i = 0; i < scope.items.length; i++) {
      if(scope.items[i].select === true) {
        tableCtrl.selectedItems.push(scope.items[i]);
      }
 };

[2015-09-24 15:16] sbehun opened #138 "Clicking the next button on table pagination submits the form"
I have a form element that wraps the table and some other content.  Clicking the next button in the pagination submits the form.  Submitting the form navigates to the next tab.  The issue is that clicking the next button in pagination submits the form and navigates to the next tab.  The expected behavior would be that it does not submit the form or take you to the next tab.  This is due to md-butt

[2015-09-26 23:04] joshtoo commented on #98
I'm with @activedecay on this one. The question is kind of unclear.

1.) Should selection persist between pagination, yes. This is inline with existing google applications.
2.) Should "Bulk Select" select items not in the current view, lord no. The ability to select everything in a record set and perform an action has disaster written all over it.

[2015-09-27 02:55] treyhoover commented on #122
+1

[2015-09-27 19:59] andrea-vega commented on #109
@daniel81bcn, that would be a great PR!  Virtual repeat is ideal for my use case.

[2015-09-28 04:19] carsonip opened #139 "Minor typo in readme"
In README.md, under section Column Ordering, "If the function assigned to the `md-triger` attribute returns a promise, a loading indicator will be displayed."

`md-triger` should be `md-trigger`

[2015-09-28 08:58] daniel81bcn commented on #109
I did the integration but I should do some cleanup and make disabled rows work again before sending the PR.
For a demo: http://daniel81bcn.github.io/md-data-table/
The changes: https://github.com/daniel81bcn/md-data-table/commit/7a04df866b99057f1a22ef333751b70ff6e94949

[2015-09-28 13:56] Fardinak commented on #20
Is having a page number against the guidelines?
If not so, you could provide variables like $start, $end, $count, $total, $page, $totalPages (i.e. $index, $first, $last, etc. in ngRepeat) so the developer can format their own label like this:

[code]

That gives away some flexibility of representation; page numbers are more useful in most cases!

IMO, it would look way better than the current API

[2015-09-28 19:46] HBO2 commented on #7
Hi,

I am searching for the option to have an edit action on each row. I mean by having an edit icon at the end of the row with action to edit the cell's in a row. So, not by selecting the row first and then have an action to edit the the cell's of the row, but directly a dialog after clicking on the edit pencil.
In case no i could ask some developers to help you, but it would be graet if you can

[2015-09-28 19:47] HBO2 opened #140 "Edit row on click"
Hi,

I am searching for the option to have an edit action on each row. I mean by having an edit icon at the end of the row with action to edit the cell's in a row. So, not by selecting the row first and then have an action to edit the the cell's of the row, but directly a dialog after clicking on the edit pencil.
In case no i could ask some developers to help you, but it would be graet if you can

[2015-09-28 20:40] seiyria opened #141 "how do we customize rows shown?"
For example, the demo shows 5, 10, 15 rows. I want 10, 25, 50.

[2015-09-29 03:59] seiyria opened #142 "Select all only selects current view"
It would be much better if it selected all applicable users, even those not currently visible. Coupled with the prior issue I submitted, this means users would have to select a max of 15 people at once to operate on. Is there a way to override how the select all checkbox works?

[2015-09-29 10:10] joshtoo commented on #142
In what alternate universe is this a good thing " It would be much better if it selected all applicable users, even those not currently visible"

You may want to go read the spec for data-table.

[2015-09-29 12:05] seiyria commented on #142
Suppose I filter down a table of 100 to a table of 30 via filter and I want
to do an operation on all 30 of them at once. Currently I can't and I would
like to. Doing it in multiple batches breaks the ux for me.

On Tue, Sep 29, 2015, 05:10 Joshua Wiens <notifications@github.com> wrote:

[2015-09-29 12:13] joshtoo commented on #142
The problem with that is the element nor the user is aware of what the other 15 records are. I get the use case but I would argue against it being the default for "Select All"

IMO a better option would be

Select All: Selects all records currently displayed
Select All Records (Needs a different name but you get the point): Explicit action to select every record in the returned set.

[2015-09-29 12:34] seiyria commented on #142
And that'd be perfectly acceptable for me -- that's why I said I'd like to be able to override the select-all behavior to do this. In no way does it have to be the default.

[2015-09-29 14:49] joshtoo commented on #142
<--- Shouldn't have "skimmed"

[2015-09-29 15:00] daniel-nagy commented on #141
use the `md-row-select` attribute. [Pagination](https://github.com/daniel-nagy/md-data-table#pagination)

[code]

[2015-09-29 15:00] #141 closed

[2015-09-29 15:03] seiyria commented on #141
Awesome, thank you!

[2015-09-29 15:07] #139 closed

[2015-09-29 15:08] sbehun commented on #138
If anyone else encounters this issue, I ended up just copying the template and overriding it with type="button" in my code.

[code]

[2015-09-29 15:30] daniel-nagy commented on #138
Resolved in version 0.8.13. In the future if you find an easy fix like this feel free to make a pull request.

[2015-09-29 15:30] #138 closed

[2015-09-29 15:37] daniel-nagy commented on #136
@mrcel `length` is a built in array property that returns the length of an array. I'm not sure how it is implemented in the language but I believe it is just a variable that is maintained as things are added / removed.

[code]

Because I am filtering results on the server the length of my array is not the same as the total number of items in the table, I define a property called count that is the

[2015-09-29 15:37] #136 closed

[2015-09-29 22:31] seiyria opened #143 "striped alternate rows?"
It might be nice when you have a table with a sizable chunk of info that's scaled down to mobile sizes. This would be implemented similar to bootstrap `table.table-striped`.

[2015-09-29 22:35] joshtoo commented on #143
+1 if it is a configuration option

[2015-09-29 22:40] daniel-nagy commented on #143
This is not included in the specification from Google and would be trivial to implement on your own using CSS selectors or `ng-class`.

[2015-09-29 22:40] #143 closed

[2015-09-29 22:49] seiyria commented on #143
I wouldn't have it for more than a configuration option.

[2015-09-30 19:15] apat183 commented on #120
Do you mind sharing how you resolved? I'm using basic filter like so, when selecting all, it also selects filtered items:

[code]

[2015-09-30 19:21] daniel-nagy commented on #120
@apat183 Try assigning a variable to the result of the filter. Let me know if this works for you.

[code]

[2015-09-30 20:06] apat183 commented on #120
Doing it the way above produces the following error:
[code]
https://docs.angularjs.org/error/$parse/ueoe?p0=results%3D(assignCtrl.assignments

I tried moving the brackets to just around the results but then it functions the same as before (all filtered results get selected).

[code]

[2015-09-30 20:07] francoislg opened #144 "Including "angular-material-data-table" after "angular-material" with Browserify breaks some angular directives"
Now, this is really weird and I can't pinpoint why it's happening.

Two weird behavior I noticed :
* I tried to include "\<md-progress-circular\>" tag in my website, and it didn't animate at all.
* Ripple effect was off for the whole website.

I then removed "require("angular-material-data-table")" and everything started working again as usual.
So I moved it in the require order, and discovered th

[2015-09-30 20:15] daniel-nagy commented on #120
This is because you are just assigning results equal to the original array and not the filtered items.

Try only assigning it to the filtered list and see what happens.

[code]

[2015-09-30 20:27] apat183 commented on #120
Sorry I was going to say I did that as well. Same error.

Even tried this:
[code]
&
[code]

[2015-09-30 20:40] daniel-nagy commented on #120
Hmmm... If you make a Plunker I may be able to help figure out what's going on.

[2015-09-30 20:59] apat183 commented on #120
Here you go.

It's a bit mess but I created an input (next to nutrition title).
http://codepen.io/anon/pen/pjRKee?editors=101

Type in "Cupcake", it firsts results to cupcake. But click the select all button and it shows it's selecting 8 items but there is only one filtered result.

[2015-09-30 21:33] daniel-nagy commented on #120
Okay I found what was causing the first error but now when I try to filter the results it goes into an infinite digest. I'm going to spend a little more time on this but it is not obvious what is causing the infinite digest and I don't know if I'll be able to fix it.

[2015-09-30 21:38] apat183 commented on #120
Ok, I tired one way of putting ng-repeat result in function that returned results and used filter in JS but that also causing infinite digest:

[code]
in JS
[code]

[2015-09-30 22:53] seiyria opened #145 "empty-row text"
It'd be nice if we could have some default text span the whole table if there are no results visible. Doing something like this:

[code]

Doesn't work, because the table directive spits out errors.

[2015-10-01 15:15] seiyria commented on #144
I had this same problem. Ultimately, I ended up just not using browserify and bundling them through my build process.

[2015-10-02 13:15] seiyria commented on #142
In this vein, it would also be nice to be able to select multiple entities across pages in the table.

[2015-10-03 11:04] admirp opened #147 "Using DATA tag on ng-repeat inside <tbody> breaks row select"
ng-repeat works fine.
[code]

DATA-ng-repeat is causing mdRowSelect to be disabled, and misleading, because syntax is fine.
[code]

Those lines of code needs to be corrected in order to support html5 DATA tag. This will ensure that mdRowSelect is enabled in both cases, with or without using DATA tag.
[code]

[2015-10-03 16:00] daniel-nagy commented on #147
resolved in version 0.8.14

[2015-10-03 16:00] #147 closed

[2015-10-03 16:00] #54 closed

[2015-10-04 09:41] bastienJS commented on #140
Seems you use the wrong component:

https://github.com/iamisti/md-data-table

Search on the site for "edit" and you get what you want!

[2015-10-05 14:19] andrea-vega commented on #109
@daniel81bcn I'm using your branch right now and it's working fine.  The scrollbar behaves strangely once you reach the end of the rows, but that might be a quirk of the md-virtual-repeat feature in general.

[2015-10-05 16:42] audiodude commented on #46
Hello,

I'm not using ES2015, but I _am_ using `controller as` syntax with ngRoute.

I have the following:
[code]

However when createSortValues is called, `this` is a reference to a Scope of some sort instead of a reference to the `projectList` controller.

I am working withing strict style standards and therefore don't have the option of creating a global variable that references the controller.

[2015-10-05 20:54] daniel81bcn commented on #109
@andrea-vega on the demo you can see that I used 2 different tables, one with just the head and the other one with the actual body and infinite scroll, because otherwise the `md-virtual-repeat-container` doesn't calculate well the height and it does that weird behave reaching the end. That hack is ugly and has some side effects, like the need of setting manually the width of columns to mach body a

[2015-10-10 21:56] orangesoup opened #150 "Disable row selection completely"
I might be missing something, but I just can't find this feature. Is there a way to simply disable row selection completely and hide the checkboxes as well?

Nvm, found it!

[2015-10-10 23:48] #150 closed

[2015-10-12 12:23] regularex opened #151 "self.showProgress(); called on undefined"
self.showProgress() called before instance is fully instantiated.

Change md-data-table.js ~line 179 to

    self.defer = function () {
      if(self.deferred) {
        self.deferred.reject('cancel');
      } else if (typeof self.showProgress === 'function' ) {
        self.showProgress();
      }

I will do a pull request when I get more time, but it may be a couple days. -NM

[2015-10-13 05:24] hannupekka opened #152 "Error: [$compile:ctreq] Controller 'mdDataTable', required by directive 'mdTableRow', can't be found!"
I'm getting this error with Safari 9 while newest Chrome works fine. Below is the template for my table.
[code]

Any idea what is causing this? Using Browserify but I guess everything is required correctly since Chrome works.

[2015-10-13 08:07] Rouby commented on #98
+1

But keep it as an opt-in (via attribute md-persistent-selection or something)

[2015-10-13 12:37] nvme978 commented on #27
I'm facing the same issue with Angular 1.3.15.
Is there any workaround for this version of angular? I cannot update to 1.4.x without getting multiple approvals.

[2015-10-13 13:04] f1tech commented on #108
I have a need to do this as well. I'm using md-data-table specifically to let the user look up a product in a search dialog ($mdDialog) and then select a product from the grid. It appears that highlighting an entire row also doesn't work without the checkboxes. I have a fair # of columns to show - where the user already has to scroll horizontally - so I really don't want the checkboxes, but if the

[2015-10-13 14:27] lyschoening opened #153 "Use the background color from $mdTheme"
The md-data-table and md-data-table-toolbar components currently ignore the background color of the theme.

[2015-10-13 16:58] frank0ch0a opened #154 "checkbox checked"
Hi! thanks for sharing, I have a doubt a fill a table from a webservice response, I want to know  how I change  automatically state to checked/unchecked? reading a boolean from web service  in this case the boolean enabled

 {
    "_id": "5615762280550f1ff16fad57",
    "enabled": true,
    "idLang": "55c16b6174bdb82668c070f4",
    "lastEditionDate": "2015-10-07T19:44:34.539Z",
    "creationDate":

[2015-10-14 11:07] forcewill commented on #103
@daniel-nagy  i tried the aproach you refer, but note that that leads to an error in
*md-data-table.js:605:28*

Due to this line *this._tokens = ngRepeat.split(/\s+/);*

because there is no ngRepeat in the second tr

Ultimately i solved it by adding a fake ngRepeat *ng-repeat="i in []"*, shouldn't the code check if ngRepeat is null ?

heres the html related

[code]

[2015-10-14 13:38] abhisheksreesaila opened #155 "Edit Rows"
Can we have "editable" rows?  similar to google recommendation.  I think that's the only feature missing from their official material design doc

[2015-10-14 18:19] cleever commented on #155
+1

[2015-10-14 18:36] cleever opened #156 "on-select event"
I think that is necessary an event that is fired when an user click in selection checkbox.
Today I use ng-click inside <tr> to call a method. But when user check an item, ng-click was not triggered.

[2015-10-14 21:07] seiyria commented on #142
@daniel-nagy Any thoughts on this?

[2015-10-15 09:50] thandaanda opened #157 "md-row-select throwing warning regarding array"
````md-row-select="selected" : selected is not defined as an array in your controller, i.e. selected = [], two-way data binding will fail.````

My Controller code has:
````$scope.selected = [];````

and
 HTML code has:
[code]
But when I use interpolation in html code, selected stays as an empty array.

[2015-10-15 09:52] thandaanda opened #158 "Order by not working"
HTML Code:

[code]

Controller Code:

[code]

Two way binding issue while using query.order.

[2015-10-15 11:52] cranesandcaff commented on #98
+1 with opt in.

[2015-10-15 12:16] cranesandcaff commented on #155
+1

[2015-10-15 13:15] JDqv commented on #103
@daniel-nagy Maybe implementing simple *ng-repeat-start* / *ng-repeat-end* support could solve @forcewill mentioned problem plus expand all sorts of possibilities with multiple rows per iteration.

[2015-10-15 13:22] forcewill commented on #103
@JDqv  actually i end up using ng-repeat-start/end  however i still get warnings
*Please use ngRepeat to enable row selection.
md-data-table.js:141 Column ordering without ngRepeat is not supported.*

it would be great if md-data-table supported ng-repeat-start / ng-repeat-end like @JDqv  mentioned

[2015-10-15 15:11] EinArzt commented on #98
+1 with opt in. No way as default.

[2015-10-15 16:48] idoo opened #159 "'replace' of undefined"
Can somebody help me, how i can fix this error?
[code]

[2015-10-15 22:31] levan1993 commented on #155
+1

[2015-10-16 06:34] thandaanda commented on #158
Is there any specific reason behind using angular greater than 1.4.0, having issue due to it. I have updated my dependencies. So Closing it for now.

[2015-10-16 06:34] #158 closed

[2015-10-16 06:34] thandaanda commented on #157
Is there any specific reason behind using angular greater than 1.4.0, having issue due to it. I have updated my dependencies. So Closing it for now.

[2015-10-16 06:34] #157 closed

[2015-10-16 09:53] Duovili opened #161 "Orderby HELP"
I am trying to impolement your code but your code example online is different to teh code example in your app folder. I am calling my service to return all my data. But I cannot set hte pagination or orderby/sort to work.

Where is the function to sort the data and return it. I am not watning to recall my service everytime to sort my data. my list is called $scope.codes

$scope.search = function (

[2015-10-16 19:35] iBeliever commented on #155
:+1:

[2015-10-16 19:53] bgauvey commented on #155
+1

[2015-10-17 17:03] duluca opened #162 "Won't work with Angular Material 0.11.4"
Due to some breaking changes in Angular Material, this table won't layout correctly with 0.11.4. I'll attempt to fix the issues in a fork and will report back here if I succeed.

[2015-10-17 17:44] duluca commented on #162
Turns out overuse various layout classes in parent elements was the problem. So watch out if you got
`layout-fill layout-align="top center"`.

[2015-10-17 17:44] #162 closed

[2015-10-18 12:58] aswinkp opened #163 "Ho to Install md-data-table without a package manager ?"
Sorry for asking the basic question. I am new to angular.

I donot use package managers like bower and NPM. Is there any other way that I could add the files directly from the CDN with the script tag. If there is no CDN available, please at-least let me know what is the order in which I should import the files. Because I donot use package managers.

[2015-10-18 16:09] richshaw commented on #159
I'm getting the same error. I haven't figure out what's causing it yet. For me, the error occurs when using the minified version of md-data-table (md-data-table.min.js) on a table that doesn't contain ng-repeat.

Example on Codepen: http://codepen.io/anon/pen/NGwMvR

Not a fix, but you can avoid the error by using the regular md-data-table.js or adding ng-repeat to your table.

[2015-10-19 11:01] williamweckl commented on #122
It's working for me now. Thanks.

[2015-10-19 11:01] #122 closed

[2015-10-19 11:09] Fardinak commented on #20
@daniel-nagy any comments on the latest suggestion?

[2015-10-19 12:50] jsmylnycky commented on #159
One of our team devs suggested this can occur when the table is hidden as well.

In our setup, we're using mdTabs with mdDataTable on the second tab and third tab, which wouldn't be visible on page load.  Due to this, we immediately get the error twice.

[2015-10-19 22:24] devtonyortega commented on #163
* Download md-data-table.min.css and md-data-table.min.js from the dist folder.
* Load the js file after angular and before your angular app module.
* Then follow installation instructions as normal.

[2015-10-20 02:43] piyushchauhan2011 opened #164 "Hiding the checkboxes ?"
Is there any way we can hide the checkboxes programmatically, I know there is option which says `md-disable-select` but it disables only clicking on the row and user can still select using the checkbox which has use cases in itself and good.

### Is there any way we can hide checkboxes, leaving a plain table with sortable headers ?

I tried using `display:none;` didn't worked out though!

[2015-10-21 03:32] mjhasbach commented on #164
Omit the table `md-row-select` attribute.

[2015-10-21 03:52] mjhasbach commented on #63
+1 I have a use case in which I want to disable check boxes if a user is not an administrator. I tried using `ng-attr` + `md-row-select` and could not get it to work.

It's only slightly more difficult to send a tampered AJAX request. Client side data validation !== security.

[2015-10-21 22:43] piyushchauhan2011 commented on #164
Cool :+1: Works like a charm @mjhasbach

[2015-10-21 22:43] #164 closed

[2015-10-22 14:19] AcCREW opened #165 "Custom md-trigger"
I need to pass variable in md-trigger now its like md-trigger='onOrderChange' and i want it to be like md-trigger='onOrderChange(Query)'. When i made it like that... its calling this function random times (4/5 times) which is too much because i want to make requests in that function.

[2015-10-23 14:29] dandanknight commented on #98
-1 for the reason that it could easily lead to records being deleted unknowingly. If you have a table with 1000's of rows, then finding which are selected and where would be a nightmare. Best do it the usual way of show xxx number of items and use sort/filters, then select.

[2015-10-23 22:52] TimKlein87 commented on #133
I was having the same problem. Track by syntax is very specific and should be at the end (after orderby). The issue is not related to this project.

More info: https://github.com/angular/angular.js/issues/5520

[2015-10-24 10:53] apat183 commented on #133
Great thanks, I'll update this.

[2015-10-24 10:53] #133 closed

[2015-10-24 11:28] fotostat opened #166 "Progress bar of multiple table have conflicts"
I have used multiple tables simultaneously in view and it seems that both progress bars conflict with each other. Imho there are two bugs:
1. if I press refresh button of one table both progress bars start to be active.
2. Length of progress bar of first table is smaller than must be
For example look at http://plnkr.co/edit/IIQ37t11GCMzkwbForGd
I use the last version of md-data-table (v0.8.14).

[2015-10-24 16:09] rgrasso commented on #98
-1

If this feature is added it should be an option (and not the default behavior) for all the reasons stated in the previous posts....

[2015-10-26 13:23] AngryCMOS opened #167 "modelData.selected is not defined as an array in your controller, i.e. modelData.selected = [], two-way data binding will fail."
I created a new directive containing an md-data-table. When trying to enable the row selection and bind an array to it, an error occurs, and the selection array will always be empty.
Currently, the directive's controller is basically empty. The modelData is a directive argument, and the table shows up fine, but the selection array's always empty.
[code]

Content of the directive's html:
[code]
I'v

[2015-10-26 19:27] kitab15 commented on #145
+1

[2015-10-26 20:44] tunght commented on #167
I have the same problem

[2015-10-26 22:57] yshaul commented on #167
Same here

[2015-10-27 15:10] andrea-vega commented on #109
@daniel81bcn your solution gets most of the way there.  I know it's not an easy feat. @daniel-nagy, have you looked into this at all? :)

[2015-10-27 20:30] JoshBargar commented on #167
Same here

[2015-10-27 23:56] artzub opened #169 "ng-repeat-start and ng-repeat-stop support"
I occasionally need to use ng-repeat-start.
Can you add support this directive?

[2015-10-28 09:22] idoo opened #170 "Angular material 1.0 support"

[2015-10-28 10:02] forcewill commented on #169
+1

[2015-10-28 10:10] patapron opened #172 "TRIM doesn't work fine"
When you use trim in th. In the table, the thead turn absolute, and the first tbody row go up and she put over the thead.

How solve this?

Thanks

[2015-10-28 10:22] patapron commented on #172
I solve this, maybe. Just add this to css:
table[md-data-table] > thead > tr > th[trim]{
      padding-top: 48px !important;
}

[2015-10-28 19:23] hoopyfrood commented on #159
+1, using it in combination with md-tabs too, suspect it has to do with being hidden much like @jsmylnycky's description

[2015-10-29 10:18] IsenGrim613 opened #173 "Auto filling of undeclared columns ignore colspan attributes in other columns"
Reproduced:
http://codepen.io/anon/pen/GpdLaY?editors=101

eg: in a 5 column table
    <tfoot>
      <tr>
       <td colspan="4">testing1</td>
       <td colspan="1">testing2</td>
      </tr>
    </tfoot>

will be rendered as
    <tfoot>
      <tr>
       <td colspan="4">testing1</td>
       <td colspan="1">testing2</td>
       <td colspan="3"></td>
      </tr>
    </tfoot>

Where the extra genera

[2015-10-29 18:16] yhbrandon opened #174 "Allow for prepending of data to angular elements for HTML5 validators"
Some HTML5 validators will spit errors on 'ng-' elements in the markup. Prepending 'data-ng-' resolves this. Angularjs also supports this method. Would be nice to see support for this as well.

[2015-10-29 18:20] yhbrandon commented on #174
Actually I see a commit to fix this, however it is not currently working.

[2015-10-29 18:25] #174 closed

[2015-10-30 10:58] Kajvdh commented on #145
+1

[2015-10-30 14:30] webpartisan commented on #20
I use angular-translate and would be good to use it with md-label together. Now there is no two-way binding with md-label and I can't change translation dynamically

[2015-10-31 09:26] iyhammad opened #175 "How to force Single Item Selection"
I needed this feature and I've implemented my own. I thought to share it with you.

[code]

[2015-11-02 19:12] sbharadwaj92 opened #176 "Is there a way to reset pagination if there is a change in md-total (i.e change in the total number of rows)"

[2015-11-02 19:41] jchull commented on #169
ng-repeat-end is the end directive
+1

[2015-11-02 21:11] m0rganic commented on #175
+1

[2015-11-03 01:05] wengchen93 opened #177 "ng-Class styling and md-row-select incompatible"
Implementing a mouseover function which turns table rows into another color as the user moves the cursor around the table. Only works when md-row-select is omitted OR "class" is used instead of "ng-class". Is there a way to keep both ng-class and md-row-select? (Need ng-class to enable conditional styling)

[2015-11-03 21:07] yanko opened #179 "Request for Row Detail Section"
How hard would it be to implement this feature?
something like datatable has, like this
https://www.datatables.net/examples/server_side/row_details.html

thank you!

[2015-11-04 00:11] brianfeister opened #180 "SHIFT + Click multi-row support"
I'm thinking about switching from https://github.com/Swimlane/angular-data-table, a feature I added to that library was the ability to have row selection work the same as it does in Google Drive (at the time of this writing).  SHIFT + Clicking 5 rows from the first click would select that row and all the rows in between.  I wanted to check on two things: 1) I wasn't sure if it's already available

[2015-11-05 15:47] colintemple commented on #132
I haven't been able to duplicate this in your pen, and it certainly doesn't seem to be a problem in the demos, but I'm experiencing this problem as well in my implementation.

In my case, I can select individual rows, and they get added to the array.

If I select all rows with the top checkbox, the array is empty.

If I touch the top checkbox, the individual row selection never works -- after chec

[2015-11-05 16:31] maryisdead commented on #98
0: On the fence.

Best behaviour would be what @joshtoo and @activedecay described. Option to bulk-select would be a nice add-on.

[2015-11-06 08:47] Kajvdh commented on #98
+1

[2015-11-06 11:26] acidmk commented on #140
bastienJS,

unfortunately its just a mark which shows that cell can be edited. In our case we need a clickable button as addition to row or some kind of cell with action buttons within it.

[2015-11-06 15:15] asdiallo commented on #98
-1

[2015-11-06 16:58] rca06d commented on #98
+1

The question doesn't seem unclear. I don't see mention of select all functionality in the description, it seems to be asking only about selection persistence across pagination. For me as a user, my selection vanishing when I change the page is unexpected and frustrating, it should definitely persist. I agree with @maryisdead, @joshtoo and @activedecay as well about select all functionality. Se

[2015-11-09 16:38] fabiocarneiro opened #181 "console.log in .min.js"
I think someone forgot a console.log in .min.js https://github.com/daniel-nagy/md-data-table/tree/v0.8.14 and master

It can be found after this line, but its only present on the minified version
https://github.com/daniel-nagy/md-data-table/blob/master/dist/md-data-table.js#L126

[2015-11-09 23:19] brianfeister commented on #98
I think there should be some kind of option for SHIFT + Click selection which is an expected behavior from many web applications.  Right now, it seems that there is no way to bulk select items and that is a major drawback of this module for the type of project where that UX is desired.  Even if you don't want to support it natively, it could be easily enabled by giving developers a callback functi

[2015-11-10 08:49] corentin-gautier commented on #181
I was just about to open a issue for that ! It's showing up when testing which is pretty annoying

[2015-11-10 10:28] asdiallo commented on #175
+1

[2015-11-10 10:39] asdiallo commented on #132
I ran to same problem if add ng-if="true" to table element like: <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred"  ng-if="true">

[2015-11-10 11:15] Dimanoid commented on #98
-1 but...
There should be an option to chose behaviour.

[2015-11-10 12:45] nmindz commented on #167
Odd enough, what I found is that the data will be bound in the controller if you click the `<th>` checkbox, therefore selecting all rows, it will then update the model.

Selecting individual rows won't update the `modalData.selected` variable to the controller even though it correctly updates in the view (for instance `{{ modalData.selected }}` anywhere in the view would render the array correctly

[2015-11-11 13:39] marcomafessolli commented on #98
+1

As @joshtoo and @activedecay described.

[2015-11-11 16:47] 6matko opened #182 "Unable to hide column"
I found one similar issue about this here: #127
This is my code:
[code]
And I cant hide Picture from my table and the most interesting part is, that it is acting strange - on hide (Switch) header doesnt move, on another switch (turn on) header is added again. This way I can add multiple identical headers. It seems like ```<th name="Picture"></th>``` is generating its own ```<th></th>``` and it bec

[2015-11-12 02:11] YoungCatChen opened #183 "Multiple md-data-table: column count and progress mixed up"
Hi Daniel,

Firstly thank you for the great project! I would like to report an issue that I found recently.

See http://codepen.io/anon/pen/MazMBK?editors=101 for an example. I put two `md-data-table`s on the page, then set up a promise for each `md-progress`. On the Controller, the two promises are solved after 5sec and 10 sec respectively. Ideally we should see one progress indicator hides first

[2015-11-12 02:17] YoungCatChen commented on #183
Oops, just found this issue to be a duplicate of a previously filed issue https://github.com/daniel-nagy/md-data-table/issues/166. I'm going to close this issue.

[2015-11-12 02:17] #183 closed

[2015-11-12 02:18] YoungCatChen commented on #166
I'm meeting with the same issue. Would appreciate it a lot if it is solved!

[2015-11-12 07:32] kalokamgit opened #184 "Fixed Header while Scrolling."
Better to have a fixed header while scrolling.

[2015-11-12 22:01] makkart commented on #142
+1 for a "Select All Records" feature

[2015-11-13 00:21] mcblum commented on #167
Same issue here, but strangely enough only in production. In my local MAMP environment it works just fine.

[2015-11-13 13:56] arantir commented on #5
+1

[2015-11-13 14:11] arantir opened #185 "Inline-menu feature should be optional or less destructive"
If you place `md-select` anywhere inside `td` then the whole cell becomes clickable.
But I have an input with a select next to it. And I would like it to works normally, because it definitely is not an "inline menu".

Here is an example layout of cell.
[code]
The problem is that the select is opened if you click on the input, so you just isn't able to edit it.

I think, at least, only direct place

[2015-11-16 07:42] ebrahim-tadbir commented on #152
+1
I have same problem, I'm using md-data-table in md-tab, when I switch tabs I have this problem.

[2015-11-16 17:41] Pelu2k12 commented on #184
+1

[2015-11-16 18:00] Pelu2k12 commented on #12
+1

[2015-11-16 22:07] pg88 opened #187 "Pagination does not refresh repeater"
Hi, i'm using your directive to paginate elements on client side, all works fine except for the next-prev, last -first functions to change the info on every page.

The repeated elements dont refresh on every next-prev click function, they stay the same.

What could it be?

[2015-11-16 22:22] BobDankert opened #188 "Additional TR or TBODY in table throws an error with MIN version of library"
I was trying to add a row or tbody that would be displayed if the table is currently empty, indicating that there are no records. However, if I add a TR or TBODY that doesn't contain the ng-repeat of the element, I get an error thrown:

TypeError: Cannot read property 'replace' of undefined
    at Object.directiveNormalize [as $normalize] (https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angu

[2015-11-16 22:23] BobDankert commented on #184
+1

[2015-11-17 02:29] brunogonncalves opened #189 "Has no method to group rows ?"
Hi, I trying to use this grid data. But I don't see any resource for group rows, it exists ?

[2015-11-17 10:58] makkart commented on #98
-1 but..
I do want to able to select all items on all pages with on button. Not sure if thats a part of this matter.

[2015-11-17 15:34] mnzaki commented on #188
+1
We hit this as well. It breaks randomly, for us the checkboxes (and all selection functionalities) were broken.
Also installed using bower today.

[2015-11-18 04:15] mcblum commented on #167
Did anyone ever figure this out? We have an app in production where we've hacked something together for the moment but this is a really weird bug and one that we can't seem to diagnose.

[2015-11-18 04:19] JoshBargar commented on #167
@mcblum I was getting this error because of some dependencies in bower that would not update correctly due to the dependencies included in this package.

Here is a portion of my bower.json
[code]

I would then have to run

[code]

The data table then worked for me.

[2015-11-18 04:22] JoshBargar commented on #167
Also, I used ```this``` instead of ```$scope```

[2015-11-18 04:29] mcblum commented on #167
Hm. I just did that on the server and nothing. Already using controllerAs so I'm with you there. The strange thing is, it works in my dev environment but not in production.

[2015-11-18 14:10] f1tech commented on #188
Pardon me for jumping in, but my question is why? Why not just a div after the table that you use ng-if on to display that the table is empty? That just seems much cleaner than trying to kludge a row with a message in it to me.

[2015-11-18 14:50] BobDankert commented on #188
@f1tech There are many ways to handle this, an extra TR, a separate TBODY, or an element outside the table. All seem valid to me, and I ended up putting this in a TFOOT. Semantically, the content of this is related to the table and my first thought was to include it in the table. Regardless, it seems like something that should work rather than throwing the error (and does work with the non-min ver

[2015-11-18 14:54] JoshBargar commented on #167
@mcblum What are your your dev dependencies?

[2015-11-18 14:56] mcblum commented on #167
Here's the bower.json
[code]

[2015-11-18 15:04] JoshBargar commented on #167
When I explicitly declared ```"angular": "1.4.7"``` in resolutions and ran ```bower install --force-latest```, it worked for me. I was also using the latest version of angular material (1.x).

[2015-11-18 15:31] mcblum commented on #167
Thank you @JoshBargar! 1.4.7 did it!

[2015-11-18 15:48] JoshBargar commented on #167
@mcblum no problem. Glad I could help!

[2015-11-20 00:24] DominicGaribaldi commented on #169
+1

[2015-11-23 04:39] gdoerr commented on #177
I needed this too and found a pretty simple way to do this:

In the `toggleRow` method of the `md-table-row` directive, add and remove the `md-selected` class to the row element. Next, in the `md-select-row` directive, comment out the line that adds the `ng-class` directive in the template function.

With this change, the `md-table-row` directive handles the class add/remove without the need for t

[2015-11-23 09:05] hkjels opened #190 "Rows are highlighted upon hover even when md-disable-select is added"
[code]
Need to add something like that to the stylesheet.
Which also reveals another issue, the specificity-graph of the stylesheet is awful.
This should have been possible with
[code]

[2015-11-23 23:43] tclift commented on #98
+1 IMO the primary purpose of pagination is to avoid scrolling (keeping all table items on screen), not a bandwidth or performance concern. Going to the next page is not "navigating away", it's equivalent to scrolling down, so doesn't interfere with page state. If loading needs to occur in the background it should be transparent to the user, like a virtual repeat.

A deselect all API, called by th

[2015-11-24 03:39] tucq88 commented on #184
+1

[2015-11-24 10:03] ismile commented on #185
+1

I have same problem too.

[2015-11-24 15:54] yhbrandon commented on #176
Is this after filtering? Or an actual change in the data?

[2015-11-24 19:37] leonn commented on #181
:+1:

[2015-11-25 09:52] vapits opened #191 "Generic Error"
Hey,

i tried to use md-data-table to my angular project but it seems there is an error.
Is use Angular 1.3.15, install with bower install and use of browserify.

The error i'm getting is very generic:
[code]

My code html is simple enough:
[code]

Any ideas?

[2015-11-25 13:04] truginis commented on #191
Try adding <thead><tr><th> to your table. I get errors if I don't add it.

Sent via the Galaxy S®6

-------- Original message --------
From: Vassilis Pitsounis <notifications@github.com>
Date: 11/25/2015 4:52 AM (GMT-05:00)
To: daniel-nagy/md-data-table <md-data-table@noreply.github.com>
Subject: [md-data-table] Generic Error (#191)

Hey,

i tried to use md-data-table to my angular project but it

[2015-11-25 13:18] vapits commented on #191
Did that nothing changed.

[2015-11-25 14:23] vapits commented on #191
Nuh now it's working, not changed anything. maybe a cache (?) issue. sorry.

[2015-11-25 14:23] #191 closed

[2015-11-25 14:30] michaelkrnac commented on #187
The Same here :+1:

[2015-11-25 17:19] gpopovic opened #192 "Ng-class not working on <tr>"
It appears that ng-class on tr gets overriden with ng-class="{'md-selected': isSelected(item)}".

Is there a way to bypass that?

[2015-11-26 07:44] paulhauner commented on #181
I also noticed this.
I am successfully using the following override in my bower.json to avoid seeing the console.log.

[code]

[2015-11-26 09:10] michaelkrnac commented on #184
+1

[2015-11-26 11:02] ahoj94 commented on #155
+1

[2015-11-26 15:11] rakia commented on #176
How to do it after filtering?

[2015-11-26 15:12] SAM-BI commented on #176
How to do it after filtering?

[2015-11-28 06:07] nalexander50 commented on #98
-1

[2015-11-28 06:27] nalexander50 opened #194 "Selected checkbox is not responding properly"
Instead of trying to explain the bug in text, I simply made a recording. Note that checkboxes work fine on other pages of my site. (Please ignore the barrage of Facebook notifications towards the end.)

http://quick.as/gRDzs95d0

As you can see, the checkbox is not "checking" when the row is selected if you press the checkbox itself. If you click on the actual row, the checkbox "checks" properly.

[2015-11-30 10:08] b22n commented on #184
+1

[2015-11-30 20:44] Mystec commented on #170
I'd like to see this as well. Angular Material 1.0.0-rc5 is now released. It fixes a pretty serious issue with md-tabs , which I use a lot. I won't be using md-data-table until it has 1.0 support.

[2015-11-30 21:28] brunovinicius opened #195 "md-data-table-pagination md-label doesn`t go well with ng-translate"
I'm using ng-translate to localize my application and cant manage to make md-label work with the translate filter. I think the problem lies in the way two-way bind is used in this parameter to pass both the label and the 'of' string in a object.

I suggest the md-label be split into two parameters and be received by value ('@' instead of '=') so that mustache operator can be applied.

Here's a sam

[2015-11-30 23:12] jadjoubran commented on #46
I have the same issue

[2015-12-01 14:52] rudzikdawid commented on #159
[code]

+1

[2015-12-01 17:11] bartlx commented on #159
Same, +1

[2015-12-02 09:59] mpnowacki commented on #159
+1

[2015-12-02 13:55] warpdesign opened #196 "Demo code not up to date ?"
It seems the demo source code: http://codepen.io/anon/pen/zGXWWp?editors=101 lacks some features present in the demo here: view-source:http://danielnagy.me/md-data-table/

For example the buttons at the top right to filter & add a new item aren't present in the codepen version.

I'd like to add buttons like those in my code. Are these options of md-data-table ? Or is it extra code that was added f

[2015-12-02 14:37] warpdesign commented on #167
+1
Same problem here. I can't switch to latest Angular though. I'm using 1.3.15

[2015-12-02 15:31] warpdesign opened #197 "row-select event ?"
Is there an event that is triggered upon the selection of a line ? I didn't find it in the docs.

`md-row-select` dual binding doesn't work (see issue #167) so I cannot use that.

[2015-12-02 17:27] cleever commented on #197
I did a pull request that implements this functionality:

https://github.com/daniel-nagy/md-data-table/pull/160

[2015-12-03 22:22] justcald commented on #95
I am having a very similar problem, where my

    `md-trigger='onOrderChange'`

function never even gets hit when I click on the headers. The Icon on the header is there and recognizes that it's clicked but my function in my directive never runs. I have the table inside of a directive and my function is inside of link in my directive . I think it might be a scope issue.
When I put a breakpoint jus

[2015-12-04 18:21] necrostylery commented on #98
+1

[2015-12-07 09:12] majkelch commented on #159
+1

[2015-12-07 19:51] aeisenberg commented on #98
+1

I can see the argument for both sides. But, fundamentally, I believe that this is an application specific concern and that a complete implementation of the md-data-table should allow this kind of behavior as an option.

[2015-12-07 21:18] laicosly commented on #87
great thread, enjoyed much, would read again  :smile_cat:

[2015-12-08 01:00] aeisenberg commented on #189
Unfortunate, but I don't think it's possible right now. I looked into adding some simple support myself, but not easy

[2015-12-08 05:41] balakumaran-k commented on #184
+1

[2015-12-08 13:09] Dhara-ZYMR opened #198 "Showing selected rows by default"
Hi,

I want to show few rows selected by default, but unfortunately I am not able to do so.
Also I tried to assign the contents to $socpe.selected but the selection goes away during paging.

Please help me out on how to do this?

[2015-12-08 13:35] brunogonncalves commented on #189
Angular has filter to group, I found other plugin with group function and using default angular filter to group, maybe that is the way.

[2015-12-08 15:56] aeisenberg commented on #189
That's a good idea and might just work. I think my use case is slightly different. I need to add some sub-headers in the table where rows are sorted by similar attributes. But,  filter might work.  I'll go try this out and see if anything comes of it.

[2015-12-08 17:43] aeisenberg commented on #189
Neat. Created my own filter that adds grouping rows to the list of items. It's mostly working. Here's what I found out:

1. In order to avoid an infinite digest cycle, grouping rows need to be cached. Angular assumes that there are changes each time any of the items' identities change. So, if you are recreating objects for grouping rows, then angular thinks it's new each time.
2. Selection isn't w

[2015-12-08 18:54] aeisenberg opened #199 "md-data-table overwrites the ng-class property of the tr element"
When you add an `ng-class` directive to the `tr` element that is part of the `ng-repeat` of a data table, the `ng-class` directive is overwritten by the md-data-table directive.  Eg, if you change the sample to have ng-class on the tr element like this:

[code]

You will notice that this ng-class does not exist when the table is rendered in the browser.

I'll be putting up a pull request for this

[2015-12-08 19:22] jcocana opened #201 "Tree grid"
Posibility of integrate tree grid to the solution?

[2015-12-08 20:19] ajeevanathan commented on #98
+1

[2015-12-08 21:31] aeisenberg commented on #189
Created 2 PRs that help move this forward. Comment or make some noise on them to move them forward.

[2015-12-09 06:43] wizjack commented on #159
Yup for me it's for ng-repeat, without it the error is thrown.

[2015-12-09 15:19] yelmu commented on #144
I have also encountered similar problems. Angular material layout column directives stopped working if I used only "require("angular-material-data-table")" or "require("angular-material")" before "require("angular-material-data-table")".

Still some issues after I include `angular-material-data-table` before `angular-material` (unstyled horizontal scroll bar appears in md-data-table but disappers

[2015-12-10 09:30] rhllor commented on #201
+1

[2015-12-10 09:46] forcewill commented on #169
+1

Is it just me or it seems this project is starting to stalling :(

[2015-12-10 14:15] jchull commented on #170
Just FYI, I am using RC6 without any changes to md-data-table, no issues seen so far

[2015-12-10 14:22] jchull commented on #179
I added support for ng-repeat-start, which was for enabling row details for my current project.
https://github.com/daniel-nagy/md-data-table/pull/178

You can create multiple <TR> elements per iteration for the repeat and make the non-primary rows toggle pretty easily.

[2015-12-10 20:00] aroddy commented on #98
+1 with enthusiasm.

[2015-12-11 09:22] PierreProdel opened #203 "md-data-table-pagination md-label Two way binding broken"
Hello,

like mentionned in the title, updating the pagination label object does not change the label in the view.

Seems like those lines in the pagination directive cause the problem:
[code]

replacing them by
[code]
seems to fix it

[2015-12-12 22:11] elrick85 opened #204 "Have error when "tbody" added after directive compile"
When "tbody" added after directive compile, I see exception. Browser Chrome - last version.
[code]

[2015-12-13 05:34] PsychicCat commented on #120
Hi, I had this same issue. Select all was selecting everything not the filtered items.

Here is how I fixed it, maybe not the best solution but it works:
http://codepen.io/anon/pen/eJpGze?editors=101

[2015-12-13 13:24] dzegarra commented on #12
+1

[2015-12-13 18:38] felansu commented on #20
+1

[2015-12-14 12:03] getvictor opened #206 "Support 0-indexed md-page"
Page is frequently 0-indexed on the server. Currently `md-page` is required to be 1-indexed.

For example: http://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/domain/PageRequest.html

Request support for a 0-indexed `md-page`

[2015-12-14 15:32] cskiwi opened #207 "md-data-table-container listen to `flex`"
hi,

i'm trying to make that the table listens to the flex percentages.
but this gives me a wonky layout

This is the html I'm using:

[code]

so if you count up the `%` it should be only 80%

I did some tests, but if I got the spacing going, the images were messed up; codepen example : http://codepen.io/cskiwi/pen/KVdYzj

note: overflow can be hidden or eplipssis

[2015-12-14 15:58] stefanahman commented on #181
Who is planning to fix this? :see_no_evil:

[2015-12-15 13:07] prodonjs opened #208 "Using limitBy for local pagination causes the table to briefly show twice the specified rows"
See the following JSFiddle for an example. There are 500 rows and the pagination is happening client side with a default page size of 10. Clicking the next or prev page controls will briefly show double the amount of rows specified.

https://jsfiddle.net/h3mxo5xg/4/embedded/result/

[2015-12-15 13:56] rolandjitsu opened #209 "dynamic <th> breaks numeric columns"
If I have dynamic table headers:
[code]
Like above, the numeric columns are all wrong. Sometimes it's the next column or the previous columns that get the numeric class instead of the ones that actually should have it.

[2015-12-15 15:01] lucagerotto commented on #195
Hi Bruno, you could use something like that:

<md-data-table-pagination   ...   md-label="pagination.label">
</md-data-table-pagination>

... and define the "pagination" variable in your controller:

angular.module('app').controller('MyController', [ '$scope', '$translate', function( $scope, $translate ){
....
$scope.pagination = {
	 label : {
		text : $translate.instant( 'PAGINATION_ROWS_PER_PAGE

[2015-12-15 15:34] prodonjs commented on #208
Interestingly enough, the difference appears to be when using the HTML5 data- prefix in front of ng-repeat.

That example works properly when using ng-repeat:
http://codepen.io/anon/pen/OMMWXp

This example, with the only change being the use of data-ng-repeat on the tr tag exhibits the weird extra row rendering behavior:
http://codepen.io/anon/pen/addpyg

[2015-12-15 15:44] EvanWieland commented on #181
It is a little annoying. Would love to see it go away.

[2015-12-15 15:46] maxime-menard opened #210 "update dependency angular-material"
Not compatible with latest angular-material version : 1.0.0

[2015-12-15 18:31] EvanWieland commented on #210
Works for me. What's your error?

[2015-12-15 22:35] intraflank commented on #159
I'm having the same issue as wizjack, +1.

[2015-12-16 04:59] Tyvain opened #211 "md-data-table.min.js.js 404 (Not Found)"
[code]

The problem comes from index.js: ```require('./dist/md-data-table.min.js'); ```
Instead it should be ```require('./dist/md-data-table.min');```

What do you think?

[2015-12-16 08:45] SimonXming opened #212 "One-time binding expressions give <Error: [$parse:syntax] Syntax Error..>"
*Using angular-material-data-table : "0.7.6"*

When I add '::' in my code

    <tr ng-repeat="item in ::deal_list | filter:query_filter">

It throw error:

    Error: [$parse:syntax] Syntax Error: Token ':' not a primary expression at column 11 of the expression [!getCount(::ticket_list)] starting at [::ticket_list)].

And The `<md-checkbox>` with `ng-click='toggleAll()'` is unclickable.

[2015-12-16 10:56] lyschoening commented on #98
+1 alternatively, there should be an option for one-way-bindings so that this can be managed externally.

[2015-12-16 13:49] brunovinicius commented on #195
I did that and it worked! Thanks! Still ita a point of improvement i guess. Thanks for the nice lib anyway =)

[2015-12-16 16:00] stefanahman commented on #210
I'm getting a difference:

v0.11.4
![screen shot 2015-12-16 at 16 59 14](https://cloud.githubusercontent.com/assets/1053201/11845903/69c34190-a416-11e5-9086-0328df2d5f60.png)

v1.0.0 (missing page size)
![screen shot 2015-12-16 at 16 58 34](https://cloud.githubusercontent.com/assets/1053201/11845907/6bdc7410-a416-11e5-9f58-145be8529719.png)

[2015-12-16 16:05] EvanWieland commented on #210
@stefanahman I'm not using pagination on this current project. I'll enable it an see if mine fails as well.

[2015-12-16 16:06] maxime-menard commented on #210
I'm getting an error to upgrade to the new angular-material version when I'm doing a "bower update".
The issue is on the file bower.json

[2015-12-16 17:23] karoitay commented on #210
trying to force angular material to be @1.0.0 by running
[code]

yields the following

[code]

[2015-12-16 20:06] thelordgabo commented on #20
Agree with @webpartisan I can not change the label dinamically with angular translate.

[2015-12-17 02:43] #212 closed

[2015-12-17 15:55] brianfeister commented on #153
+1

[2015-12-17 21:52] thelordgabo commented on #203
Same problem here.

[2015-12-17 21:55] thelordgabo commented on #175
+1

[2015-12-17 22:40] rfuhrer commented on #159
I was having the same issue with some tables that were inside an md-tab

The problem seems to be caused by this line:
`console.log(b.$normalize(e.attr("ng-repeat"))),`
This seems like some sort of test line that somehow lived way too long.  Why would you be writing to the console while building the table?  I simply went into the JS file, removed this line and now everything works great and no erro

[2015-12-18 11:25] TroodoNmike commented on #184
+1

Does anyone know what css/style i need to implement to make this work at the moment?

[2015-12-19 15:09] Pelu2k12 commented on #20
+1

[2015-12-21 15:49] dbartumeu commented on #201
+1

[2015-12-21 15:50] dbartumeu commented on #184
+1

[2015-12-22 09:22] nicolac18 commented on #159
+1

[2015-12-22 12:48] petarsubotic commented on #159
+1 when using .min without ng-repeat on data rows.

Also,
`data-ng-repeat` was also behaving odd so i replaced it with a regular `ng-repeat` which worked well
https://github.com/daniel-nagy/md-data-table/blob/master/app/templates/nutrition-table.html#L26

[2015-12-23 10:47] dsanchez31 commented on #181
+1

[2015-12-23 14:42] ali-alamine commented on #98
+1

[2015-12-23 15:24] thelordgabo opened #214 "Items selection is not maintained"
Steps to reproduce:
1.- Select some items in the first page.
2.- Navigate to the second page.
3.- Return to the first page.

Current Result:
- The selection is lost.
Expected result (from my point of view):
- The items selected in the first page should appear checked.

tested in: http://danielnagy.me/md-data-table/